.outbox-mcatmod {
   margin-bottom: 15px;
}
.box-heading-mcatmod {
   padding: 8px;
   padding-top: 7px;
   padding-bottom: 7px;
   background: url('bmh.png') top repeat-x;
   font-size: 14px;
   line-height: 20px;
   border: 1px solid #ccc;
   font-weight: bold;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
.box-mcatmod {
    background: #ddd;
	border: 1px solid #ccc;
	border-top: none;
	padding: 4px;
	padding-top: 2px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
.box-mcatmod a b {
    color: #333;
}
.box-mcatmod ul {
   display: block;
   margin:0;
   padding: 0;
   list-style: none;
   
}
.box-mcatmod a {
   color: #333;
   font-weight: bold;
   padding: 7px;
   display: block;
   text-decoration: none;
   text-shadow: 1px 1px 1px #fff;
}
.box-mcatmod ul {
   position: relative;
}
.box-mcatmod ul li .catright {
   display: none;
   position: absolute;
   top: -38px;
   left: 169px;
   min-height: 120%;
   padding-bottom: 10px;
   width: 760px;
   z-index: 9999; 
   background: #fff url('crht.png') left bottom no-repeat;
   border: 1px solid #bbb;
   border-left: none;
   padding-right: 5px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-khtml-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
   vertical-align: top;
}
.box-mcatmod ul li .catright h2 {
   margin-left: 10px;
   margin-top: 15px;
   color: #555;
}
.box-mcatmod ul li .catright .category-info {
   margin-left: 15px;
   margin-bottom: 10px;
}
.box-mcatmod ul li.catfirst.act .catright {
   display: block;
}
.box-mcatmod.act ul li.catfirst:hover .catright {
   display: block;
}
.box-mcatmod ul li.catfirst {
   display: block;
}
.box-mcatmod ul li.catfirst {
}
.box-mcatmod ul li.catfirst a.lfirst {
   font-size: 12px;
   line-height: 14px;
   display: block;
   font-weight: bold;
   padding: 7px;
   padding-left: 2px;
   padding-bottom: 10px;
   color: #333;
   text-shadow: 1px 1px 1px #fff;
   background: url('mcn.png') left bottom no-repeat;
}
.box-mcatmod ul li.catfirst {
   background: url('arrow.png') right center no-repeat;
}
.box-mcatmod ul li.catfirst.kids, .box-mcatmod ul li.catfirst:hover {
   background: none;
}
.box-mcatmod ul li.catfirst:hover a.lfirst {
   background: #fff;
   -webkit-border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	-khtml-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}
.box-mcatmod ul li.catfirst.kids  a.lfirst{
   background: url('mcn.png') left bottom no-repeat;
}
.box-mcatmod ul li.catfirst.kids:hover a.lfirst {
   background: #fff;
   -webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.box-mcatmod ul li .catright .nochild {
    vertical-align: top;
}
.box-mcatmod ul li .catright .nochild a.ndfirst {
   width: 164px;
   margin-left: 10px;
   padding: 0px;
   padding-top: 3px;
   padding-bottom: 3px;
   display: inline-block;
   font-weight: normal;
   color: #555;
   vertical-align: top;
}
.box-mcatmod ul li .catright .nochild a.ndfirst:before {
   content: '> ';
   color: #aaa;
   font-family: comic sans ms,cursive;
}
.box-mcatmod ul li .catright .nochild a.ndfirst:hover {
   color: #38B0E3;
}
.box-mcatmod ul li .catright li.ndlevel {
   width: 164px;
   display: inline-block;
   vertical-align: top;
   margin-left: 10px;
}
.box-mcatmod ul li .catright li.ndlevel a {
   color: #333;
   font-weight: bold;
   padding: 0px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   font-size: 12px;
   border-bottom: 1px solid #ddd;
}
.box-mcatmod ul li .catright li.ndlevel a:hover {
   color: #000;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel {
   border: none;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel a {
   color: #00AAFF;
   font-weight: normal;
   font-size: 12px; 
   margin-top: 0px;
   padding-top: 4px;
   padding-bottom: 4px;   
   background: none;
   border: none;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel a:hover {
   color: #333;
}
.box-mcatmod ul li .catright li.ndlevel ul.rdlevel a:before {
   content: '> ';
   color: #aaa;
   font-family: comic sans ms,cursive;
}
.box-mcatmod .catright .menu-add {
   float: right;
   width: 200px;
   overflow: hidden;
   margin-top: 1px;
   margin-left: 10px;
   text-align: right;
   display: inline-block;
}
.box-mcatmod .catright .menu-add img {
   margin: 0px; 
   padding: 0px;
}
.box-mcatmod .catright .menu-add a {
   margin: 0px;
   padding: 0px;
}   
.inner-catright {
   padding-left: 5px;
}
.inner-catright ul {
   position: static;
}
.box-mcatmod .catright div.gridel {
   display: inline-block;
   width: 164px;
   margin-left: 10px;
   vertical-align: top;
   margin-bottom: 8px;
}
.box-mcatmod .catright div.gridel .image img {
   padding: 3px;
   border: 1px solid #e7e7e7;
}
.box-mcatmod .catright div.gridel a {
   padding: 0px;
}
.box-mcatmod .catright div.gridel a.gridel-child {
   font-weight: normal;
   color: #00AAFF;
}
.box-mcatmod .catright div.gridel a.gridel-child:before {
   content: '> ';
   color: #aaa;
   font-family: comic sans ms,cursive;
   font-size: 11px;
}
/*
.menu-add + .inner-catright {
   margin-right: 200px;
}
.menu-add + .inner-catright div.gridel {
   width: 31%;
}
.menu-add + .inner-catright li.ndlevel {
   width: 31%;
}
.menu-add + .inner-catright .nochild a.ndfirst {
   width: 31%;
}
.menu-add + .inner-catright .nochild a.ndfirst {
   width: 31%;
} */