.awg-form {
	display: none;
	padding: 10px;
}

#configuration {
	position: relative;
	border: 1px solid #E7E7E7;
	padding: 3px;
	margin-bottom: 20px;
	overflow: auto;
}

#configuration .configuration-left {
	float: left;
	width: 49%;
	border: 1px solid #E7E7E7;
	margin-right: 10px;
	min-height: 104px;
}

#configuration .configuration-right {
	float: left;
	width: 49%;
	border: 1px solid #E7E7E7;
	min-height: 104px;
}

#choose_category{
	padding:5px;
	border:1px solid #E7E7E7;
	overflow:auto;
	margin-bottom: 10px;
}

#choose_category .left{
	float:left;
	width:50%;
}

#choose_category .right{
	float:left;
	width:50%;
}

#available_categories, #selected_categories { 
	list-style-type: none; 
	margin: 0; 
	padding: 2px 2px;  
	margin-right: 10px;
	border:1px solid #EEEEEE;
	height:150px;
	overflow:auto;
}

#available_categories li, #selected_categories li { 
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	font-size: 1.2em; 
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	cursor:pointer;
}

.iborder {
	float:left;
	border: 1px dashed #E7E7E7;
	display: none;
}

#widget_code {
	background: #EEEEEE;
	border: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 10px;
	font-style: italic;
	display: none;
}

.awg-error {
	background: #FF0000;
}