ul#breadcrumbs-x {
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
	list-style: none;
}
#breadcrumbs-x{
	overflow: hidden;
	width: 100%;
}
#breadcrumbs-x li{
	float: left;
	margin: 0 8px 0 7px;
}
#breadcrumbs-x a{
	background: #e8e8e8;
	padding: .7em  .1em;
	float: left;
	text-decoration: none;
	color: #595959;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
	position: relative;
}
#breadcrumbs-x a:hover{
	background: #ddd;
	color: #d00044;
}
#breadcrumbs-x a::before{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-width: 1.5em 0 1.5em 1em;
	border-style: solid;
	border-color: #e8e8e8 #e8e8e8 #e8e8e8 transparent;
	left: -1em;
}
#breadcrumbs-x a:hover::before{
	border-color: #ddd #ddd #ddd transparent;
}
#breadcrumbs-x a::after{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid #e8e8e8;
	right: -1em;
}
#breadcrumbs-x a:hover::after{
	border-left-color: #ddd;
}
#breadcrumbs-x .current,  #breadcrumbs-two .current:hover{
	font-weight: bold;
	background: none;
}
#breadcrumbs-x .current::after,  #breadcrumbs-two .current::before{
	content: normal;
}