#custom-footer {
	text-align: center;
    overflow: auto;
    padding: 20px 0 5px;
	clear: both;
}
#custom-footer .clearfix {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
/* IE hack \*/
* html .clearfix { height: 1%; }
#custom-footer .clearfix { display: block; }
/* IE hack */
#custom-footer .cf-block {
	text-align: left;
	/*display: inline;*/
	float: left;
	position: relative;
	margin-left: 20px;
	margin-bottom: 20px;
}
#custom-footer .cf-block.cf-facebook {
	display: block;
	margin: 0px 0px 20px 0px;
	overflow: hidden;
}
#custom-footer .cf-block.cf-facebook.cf-facebook-top {
	padding-top: 0px;
}
#custom-footer .cf-block.cf-facebook.cf-facebook-bottom {
	padding-top: 0px;
}
#custom-footer .cf-block.cf-facebook div {
	margin: 0px 0px;
}
#custom-footer h2 {
    background: url("../image/custom_footer/h2-spacer.png") repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}
#custom-footer h2 img {
  vertical-align: middle;
  padding-right: 7px;
}
#custom-footer ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}
#custom-footer #about-us-footer {}
#custom-footer #about-us-footer p.social img:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
	filter: alpha(opacity=50);
}
#custom-footer #information-footer ul {
	margin: 0px;
	padding-left: 12px;
	margin-left: 10px;
	list-style: disc;
}
#custom-footer #information-footer ul li {
	margin-bottom: 3px;
}
#custom-footer #information-footer a {
	text-decoration: none;
	color: #000;
}
#custom-footer #information-footer a:hover {
	text-decoration: underline;
}
#custom-footer #contact-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 0;
}
#custom-footer  #contact-footer ul li {
	padding-bottom: 2px;
}
#contact-footer  #footer-telephone, #contact-footer  #footer-telephone2, #contact-footer  #footer-email, #contact-footer  #footer-email2, #contact-footer  #footer-skype, #contact-footer  #footer-fax {
	text-indent: 30px;
	line-height: 30px;
}
#contact-footer  #footer-telephone2, #contact-footer  #footer-email2 {
	padding-bottom: 8px;
	line-height: 1px;
}
#contact-footer  #footer-contact-form {
	
}
#contact-footer  #footer-contact-form #sent_result {
	padding-top: 3px;
}
#contact-footer  #footer-contact-form textarea {
	width: 96%;
	height: 60px;
	margin: 12px 0px 4px 0px;
}
#contact-footer  #footer-contact-form input[type=text] {
	margin-right: 4px;
}
#custom-footer #slider_footer ul li {}
#custom-footer #slider_footer ul li  img {
	margin-top: 4px;
}
#custom-footer #slider_footer ul li  .name a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
#custom-footer #slider_footer ul li  .name a:hover {
	color: #38B0E3;
}
#custom-footer #slider_footer ul li  .cf-cart {
	margin-top: 3px;
	font-size: 13px;
	font-weight: bold;
}
#custom-footer #slider_footer ul li  .cf-cart a.to-cart {
	background: url("../image/custom_footer/basket.gif") no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
#custom-footer #slider_footer ul li  .cf-lo-country {
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 2px;
	font-size: 13px;
	color: #333;
}
#custom-footer #slider_footer ul li  .cf-lo-price {
	font-weight: bold;
	padding: 2px 0 3px 27px;
	margin: 4px 0;
	color: #3c8db4;
	font-size: 15px;
	font-family: verdena, arial;
	background: url("../image/custom_footer/basket-icon.png") no-repeat 0px 0px;
}
#custom-footer #slider_footer ul li  .cf-lo-products {
	margin: 4px 0;
}
#custom-footer #slider_footer ul li  .cf-lo-info {
	font-size: 11px;
	color: #666;
}
#custom-footer  #twitter-footer li {
  margin-bottom: 18px;
  padding-left: 24px;
  background: url("../image/custom_footer/quotes.png") no-repeat 0 3px;
}
#custom-footer  #twitter-footer li a {
  display: block;
  font-style: normal;
  font-size: 10px !important;
  color: #777;
  padding-top: 4px;
  text-decoration: none;
}
#custom-footer  #twitter-footer li span,
#custom-footer  #twitter-footer li span *
{
  line-height: 16px;
  font-size: 11px !important;
  font-family: Georgia, Arial, Helvetica, sans-serif !important;
  font-style: italic !important;
  word-wrap: break-word;
}
#custom-footer  #twitter-footer li span * {
  display: inline !important;
  margin: 0;
  padding: 0;
}
#custom-footer  #twitter-footer li span a {
  color: #4cb1ca;
  padding: 0px;
  text-decoration: underline;
}
#custom-footer  #twitter-footer li span:after {
  visibility: hidden;
  content: "."
}
#custom-footer  #twitter-footer ul {
  padding: 0px;
  margin-bottom: -20px;
}
/* if use shoppica theme */
#shop_info {
  clear: both;
  margin-bottom: 10px;
  padding: 19px 0 0 0;
  color: #555;
  background: url(../image/custom_footer/shop_info.gif) repeat-x top left;
}
#shop_info_wrap {
  padding: 0 0 1px 0;
  background: url(../image/custom_footer/shop_info.gif) repeat-x bottom left;
}
#shop_info #shop_info_wrap #custom-footer {
	padding: 0px 0 0px;
}
#shop_info #shop_info_wrap #custom-footer h2 {
    margin-bottom: 14px;
	background: none;
	padding-bottom: 3px;
	font-size: 20px;
	color: #888;
	border-bottom: 1px solid #e3e3e3;
}

.jcarousel-skin-cf .jcarousel-container {
	background: transparent;
	margin-bottom: 7px;
}
.jcarousel-skin-cf .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-cf .jcarousel-container-horizontal {
	padding: 0px 30px;
}
.jcarousel-skin-cf .jcarousel-clip {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}
.jcarousel-skin-cf .jcarousel-clip-horizontal {
}
.jcarousel-skin-cf .jcarousel-item {
	text-align: center;
}
.jcarousel-skin-cf .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 1px;
}
.jcarousel-skin-cf .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 0px;
}
.jcarousel-skin-cf .jcarousel-item-placeholder {
	background: transparent;
	color: #000;border: 1px solid black;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-cf .jcarousel-next-horizontal {
	position: absolute;
	top: 20px;
	right: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	background: url('../image/custom_footer/button_slider.png') right top no-repeat;
}
.jcarousel-skin-cf .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background: url('../image/custom_footer/button_slider.png') right top no-repeat;
}
.jcarousel-skin-cf .jcarousel-next-horizontal:hover, .jcarousel-skin-cf .jcarousel-next-horizontal:focus {
}
.jcarousel-skin-cf .jcarousel-next-horizontal:active {
}
.jcarousel-skin-cf .jcarousel-next-disabled-horizontal, .jcarousel-skin-cf .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-cf .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-cf .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background: none;
}
.jcarousel-skin-cf .jcarousel-prev-horizontal {
	position: absolute;
	top: 20px;
	left: 3px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	background: url('../image/custom_footer/button_slider.png') left top no-repeat;
}
.jcarousel-skin-cf .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 0px;
	background: url('../image/custom_footer/button_slider.png') left top no-repeat;
}
.jcarousel-skin-cf .jcarousel-prev-horizontal:hover, .jcarousel-skin-cf .jcarousel-prev-horizontal:focus {
}
.jcarousel-skin-cf .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-cf .jcarousel-prev-disabled-horizontal, .jcarousel-skin-cf .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-cf .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-cf .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background: none;
}