#product_image_preview_holder,#product_image_preview
{
	position: relative !important; /*shoppica2&1*/
}

.box-product 
{
    overflow: visible;
}

.image,
.product_image,
.product-image,
.product-info-images
{
	/* overflow: hidden; uncomment if any issue with mouseover on images */
	position: relative !important;
}

/* 
.product-info .image 
{
	overflow: visible; uncomment if any issue with mouseover on images
}
*/

.cut_rotated
{
	background:none !important;
	height: 100%;
	left: 0%;
	overflow: hidden;
	position: absolute !important;
	top: 0%;
	width: 100% !important;
}

.horizontal,
.rotated,
.round
{
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	padding: 0.2em;
	position:absolute;
	text-align:center;
	transition: all .5s ease;
	-webkit-transition: all 0.5s ease;
	background-size: contain;
	z-index: 1;
}

.horizontal
{
	line-height: 1em;
	/*min-height: 1em;*/
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	padding: 3px 5px;
}

.horizontal.small-db.bottom_left,
.horizontal.big-db.bottom_left
{
	left: 2%;
	bottom: 10%;
}

.horizontal.small-db.bottom_right,
.horizontal.big-db.bottom_right
{
	bottom: 10%;
	right: 2%;
}


.horizontal.small-db.top_left,
.horizontal.big-db.top_left
{
	left: 2%;
	top: 10%;
}

.horizontal.small-db.top_right,
.horizontal.big-db.top_right
{
	right: 2%;
	top: 10%;
}

.instock
{
	color: #6DA50C;
}

.outofstock
{
	color: #E32122;
}

/*
.product-grid > div
{
	width: auto !important;
	margin-right: 5px;
}

#column-left span.small-db, #column-right span.small-db
{
	font-size: 0.7em !important;
}
*/

#product_image_preview_holder
{
	position: relative !important; /*shoppica2*/
}

.rotated
{
	width: 300px;
}

.rotated.small-db.top_left
{
	top: 25px;
	left: -115px;
}

.rotated.big-db.top_left
{
	top: 35px;
	left: -100px;
}

.rotated.small-db.top_right
{
	top: 25px;
	right: -115px;
}

.rotated.big-db.top_right
{
	top: 35px;
	right: -100px;
}

.rotated.small-db.bottom_right
{
	bottom: 25px;
	right: -115px;
}

.rotated.big-db.bottom_right
{
	bottom: 35px;
	right: -100px;
}

.rotated.small-db.bottom_left
{
	bottom: 25px;
	left: -115px;
}

.rotated.big-db.bottom_left
{
	bottom: 35px;
	left: -100px;
}

.rotated.position_manual
{
	top: 25px;
	left: -115px;
	min-width: 5em;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform:rotate(-45deg);
}


.rotated.top_left,
.rotated.bottom_right
{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform:rotate(-45deg);
	-sand-transform: rotate(-45deg);
}

.rotated.top_right,
.rotated.bottom_left
{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	-sand-transform: rotate(45deg);
}

.round
{
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);*/
	border-radius: 25em 25em 25em 25em;
}

.round.big-db
{
	font-size: 2em;
	line-height: 2.5em;
	/*min-height: 2.5em;*/
	min-width: 2.5em;
}

.no-borderradius .round.big-db
{
	/*behavior: url(catalog/view/javascript/PIE-1.0.0/PIE.htc);*/
}

.round.small-db
{
	font-size: 1.3em;
	line-height: 2.6em;
	/*min-height: 2.6em;*/
	min-width: 2.6em;
}

.no-borderradius .round.small-db
{
	/*behavior: url(catalog/view/javascript/PIE-1.0.0/PIE.htc);*/
}

.round.small-db.bottom_left,
.round.big-db.bottom_left
{
	bottom: 5%;
	left: 2%;
}

.round.small-db.bottom_right,
.round.big-db.bottom_right
{
	bottom: 5%;
	right: 2%;
}

.round.small-db.top_left,
.round.big-db.top_left
{
	left: 2%;
	top: 2%;
}

.round.small-db.top_right,
.round.big-db.top_right
{
	right: 2%;
	top: 2%;
}