/* menu
---------------------------------------------------*/
.top-menu {
	line-height: 37px;
	min-height: 37px;
	height: auto;
	position: relative;
	background: #1fafef;
	margin-bottom: 15px;

	
	border-bottom: 1px solid #4D4D4D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #4D4D4D;
	-moz-box-shadow: 0px 2px 2px #4D4D4D;
	box-shadow: 0px 2px 2px #4D4D4D;
}
.top-menu ul {
	margin-left:-35px;
}
.top-menu ul li {
	display: inline;
	padding: 0 15px;
	float: left;
	line-height: 37px;
}
.top-menu ul li, .top-menu ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.top-menu ul li:hover {
	background: #333;
}
.top-menu ul li:hover, .top-menu ul li:hover a {
	color: #fff;
}
a.mainCat, .mainCat, .one-dept li a:hover {
	/*color: #3595BF !important*/
}
.cat-wrap {
	display: none;
}
li.cats {
	padding-right: 20px;
	
}
li.cats:hover .cat-wrap {
	display: block;
	position: absolute;
	top: 33px;
	left: -2px;
	width: 100%;
	background: #fff bottom repeat-x;
	border-left:2px solid #eee;
	border-right:2px solid #eee;
	border-bottom:5px solid #eee;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	z-index:99999;
}
img.e-catImg {
	position: absolute;
	right: -40px;
	top:0px;
}
.cat-wrap ul li {
	line-height: 20px;
}
.one-dept {
	display: inline-block;
	width: 70%;
	color: #000;
	padding: 15px;
	vertical-align: top;
}
.one-dept a.mainCat {
	color: #78ba11;
	font-size: 16px !important;
	text-shadow: none !important;
}
.one-dept ul {
	margin-left: -35px !important
}
.one-dept li {
	float: left !important;
	display: inline;
	width: 20% !important;
	color: #000 !important;
	font-size: 12px !important;
	text-shadow: none !important;
	margin-right: 5% !important;
	line-height: 20px;
	list-style: square;
	padding: 0 !important;
}
.one-dept li:hover {
	background: none !important;
	color:#F00 !important;
	font-weight:bold;
}
.cat-wrap .one-dept li a {
	float: left !important;
	display: inline;
	font-size: 12px !important;
	color: #000 !important;
	text-shadow: none !important;
	padding-bottom:10px;
}
.one-dept li a:hover {
	color: #787878
}

.cat-name h3 {
	font-size: 22px;
	font-weight: normal;
	color: #005696;
	margin-left:70%;
	position:absolute;
	z-index:9999;
	margin-top:0px;
}

.cat-name p {
	margin-left:70%;
	width: 25%;
	position:absolute;
	z-index:9999;
	margin-top:30px;
	color:#585858 !important;
	line-height: 20px;
}