/* container for standard mode buttons */
.facebook-login-button-area {
	margin-bottom: 20px;
}

/* BUTTON STYLES */
.ocx-fbl-button {
    background-color: #3b5998;
    border: 1px solid #2d5073;
	line-height: 30px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
 
.ocx-fbl-button.ocx-standard {
	padding: 7px 15px;
}

.ocx-fbl-button.ocx-rounded {
	padding: 7px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.ocx-fbl-button.ocx-icon {
	background-image: url('../image/facebook_login/f-letter.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px !important;
}

/* POPUP style */

/*	--------------------------------------------------
	facebooklogin Modals
	-------------------------------------------------- */
		
	.facebooklogin-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 1000;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.facebooklogin-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #FFFFFF;
		position: fixed;
		z-index: 1001;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.facebooklogin-modal.small 		{ width: 200px; margin-left: -140px;}
	.facebooklogin-modal.medium 		{ width: 400px; margin-left: -240px;}
	.facebooklogin-modal.large 		{ width: 600px; margin-left: -340px;}
	.facebooklogin-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.facebooklogin-modal.loading-background {
		background: #FFF url('../image/facebook_login/loading.gif') no-repeat center center;
		min-height: 300px;
	}
	
	.facebooklogin-modal .close-facebooklogin-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #666;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		text-decoration: none;
		cursor: pointer;
		}  

/* other elements */		

		
.facebooklogin-modal .buttons{
	border: none !important;
	margin-bottom: 0px !important;
}
		
.fbl-fields-area {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 0;
}		
		
.fbl-register-button {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 12px;
	margin-left: 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration: none;
    vertical-align: middle;
}		

#fbl-explain-info {
	margin-bottom: 20px;
}

#fbl-explain-info p {
	margin-bottom: 5px;
}

/* small resolutions */
@media only screen and (min-width: 490px) and (max-width: 600px) {
	.facebooklogin-modal {
		width: 400px; 
		margin-left: -240px;
	}
}

@media only screen and (max-width: 489px) {
	.facebooklogin-modal { 
		width: 250px; 
		margin-left: -165px;
	}
	
	table.form td {
		float: left;
	}
}