html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
	
}
h2 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
	
}

label {
	cursor: pointer;
}
/* layout */ 
#container {
	width: 805px;
	margin: 0px;
	text-align: left;
}

#column-left {
	float: left;
	width: 200px;
}

#column-left + #column-right + #content, #column-left + #content {
	margin-left: 215px;
}

#content {
	/*min-height: 350px;*/
	margin-bottom: 25px;
}

#content.round {
	background: #fff;
	padding: 10px;
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* header */
#floating-bar {
	width: 805px;
	height: 35px;
	background: #fff;
	border: 1px solid #C0BCBC;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
	z-index: 1000;			
}

#home-button {
	float: left;
	width: 37px; 
	height: 34px;
	background: url('../image/facebook_game/home.png') 2px 2px no-repeat;
	cursor: pointer;
}

#help-button {
	float: left;
	width: 37px; 
	height: 34px;
	background: url('../image/facebook_game/help.png') 2px 2px no-repeat;
	cursor: pointer;
}

#rank-button {
	float: left;
	width: 37px; 
	height: 34px;
	background: url('../image/facebook_game/rank.png') 2px 2px no-repeat;
	cursor: pointer;
}

.trans-button {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

.trans-button:hover {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#language {
	float: left;
	margin-top: 4px;
	margin-left: 60px;
	color: #999;
	line-height: 22px;
	border: 1px solid #D6D6D6;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#language a {
	display: inline-block;
	padding: 2px 6px;
	border-left: 1px solid #CCC;
	color: #999;
	text-decoration: none;
}
#language a:first-child {
	border-left: none;
}
#language a b {
	color: #000;
	text-decoration: none;
}

#currency {
	float: left;
	margin-top: 4px;
	margin-left: 15px;
	color: #999;
	/* background: #F6F6F6; */
	line-height: 22px;
	border: 1px solid #D6D6D6;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#currency a {
	display: inline-block;
	padding: 2px 6px;
	border-left: 1px solid #CCC;
	color: #999;
	text-decoration: none;
}

#currency a:first-child {
	border-left: none;
}

#currency a b {
	color: #000;
	text-decoration: none;
}

.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/facebook_game/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/facebook_game/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/facebook_game/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}

table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 2px;
}
table.list .right {
	text-align: right;
	padding: 2px;
}
table.list .center {
	text-align: center;
	padding: 2px;
}

#fg-controls {
	width: 100%;
	overflow: auto;
}

/*bx prev next */
#fg-prev-selector, #fg-next-selector{
	float: right;
	margin-top: -3px;
}

#fg-pager-selector {
	float: right;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
}

/* button */
a.button, input.button {
	display: inline-block;
	padding-left: 6px;
	background: url('../image/facebook_game/grid-add-to-cart-bg.png') left top repeat;
	border: 1px solid #D8DFEA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
input.button {
	margin: 0;
	border: 0;
	height: 28px;
	padding: 0px 12px 0px 12px;
	color: #629B2F;
	border: 1px solid #D8DFEA;
}
a.button span{
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
}
a.button:hover, input.button:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

a.button:hover span {
	text-shadow: #FFF 1px 1px 1px;
	
}

.button-cart {
	display: block;
	cursor: pointer;
	text-align: center;
}
.button-cart:hover {
	
}

.button-cart span {
	display: inline-block;
	background: url('../image/facebook_game/grid-button-cart-16.png') 0px 3px no-repeat;
    line-height: 12px;
	padding: 6px 3px 3px 20px;
	color: #78B942;
	/*border: 1px solid #000;*/
	text-shadow: #fff 1px 1px 1px;
}

.buttons {
	background: #FFFFFF;
	overflow: auto;
	padding: 6px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;	
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #FFFFFF url('../image/facebook_game/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}


/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	/*background: url('../image/fs-product-box-heading-bg.png') repeat;*/
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #365899;
	text-shadow: #fff 1px 1px 1px;
}
.box-heading .category-arrow{
	float: right;
	width: 16px;
	height: 16px;
}
.category-arrow.up{
	background: url('../image/facebook_game/category-arrow-up.png') no-repeat;
}

.category-arrow.down{
	background: url('../image/facebook_game/category-arrow-down.png') no-repeat;
}

.box .box-content {
	background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;	
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 8px 8px 8px 0px;
}
.box-category > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #333;
}
.box-category > ul > li > a:hover {
    font-weight: bold;
	text-shadow: #E7E7E7 1px 1px 1px;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 10px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #C0B0B0;
    -moz-box-shadow: 0 8px 6px -6px #C0B0B0;
    box-shadow: 0 8px 6px -6px #C0B0B0;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}

.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 109px;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 5px 5px;
}

.product-grid .image {
	display: block;
	margin-bottom: 5px;
	border:1px solid #ECEAEB;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
	text-align: center;
}
.product-grid .image img {
	padding: 5px;
}

.product-grid .name a {
    position: relative;
	color: #365899;
	text-decoration: none;
	display: block;
	padding: 4px 0;
	text-align: center;
	background: #F0F3F7;
	border: 1px solid #ECEAEB;
	text-shadow: #fff 1px 1px 1px;
}

.product-grid .price {
    position: absolute;
	display: block;
	padding: 1px 3px;
	background: #F0F3F7;
	font-weight: bold;
	font-size: 9px;
	color: #365899;
	border-bottom:1px solid #ECEAEB;
	border-right:1px solid #ECEAEB;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}
.product-grid .price-old {
    float: left;
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
    float: left;
	font-weight: bold;
	clear: both;
}


/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 5px 1px 5px 1px;
	border: 1px solid #DBDEE1;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

#container .disable { display: none; }

.card{
	float: left;
	height: 80px;
	width: 80px;
	padding: 1px;
	margin: 0 2px 2px 0;
	border: 1px solid #C0BCBC;
	cursor: pointer;
}
.card div.off{
	height: 80px;
	width: 80px;
	top: 1px !important;
	left: 1px !important;
	-moz-box-shadow:    inset 0 0 10px #666;
    -webkit-box-shadow: inset 0 0 10px #666;
    box-shadow:         inset 0 0 10px #666;
}

.card div.off:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.card_ph{
	float: left;
	height: 80px;
	width: 80px;
	background: #fff;
	padding: 2px;
	margin: 0 2px 2px 0;	
}

.on{
	border: 1px solid #C0BCBC;
	display: none;
}

.on .price{
	position: absolute;
	background: #4D575E;
	color: #FFF;
	font-size: 9px;
	padding: 0 2px;
	border-bottom-right-radius:5px;
}

.clear{
	clear:both;
}

#game_board{
	margin: 10px auto;
	overflow: auto;
}

#control{
	float: right;
	margin-right: 15px;
	padding-top: 4px;
}

#control label{
	margin-left: 3px;
	font-weight: bold;
}

#control span{
	border: 1px solid #CCCCCC;
	padding: 0 3px;
}

#sfx_movie{
	width: 1px;
	height: 1px;
}

#login-message {
	display: none;
}

/* Dialog area */
#dialog-like, #dialog-help, #dialog-rank {
	display: none;
	background: #FFF;
	padding: 0px;
}

.dialog-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url('../image/facebook_game/dialog-close.jpg') no-repeat;
	cursor: pointer;
}

.dialog-header {
	min-height: 30px;
	background: #0072BB;
	color: #FFF;
	text-align: center;
	padding: 10px;
	font-size: 21px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

#dialog-like .fg-ld-header {
	min-height: 60px;
	background: #0072BB url('../image/facebook_game/like-us-arrow.png') right 10px no-repeat;
	color: #FFF;
	text-align: center;
	padding: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#dialog-like .fg-ld-header p:first-child {
	font-size: 30px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	margin-bottom: 3px;
}

#dialog-like .fg-ld-header p:last-child {
	font-size: 15px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	margin-bottom: 3px;
}

#dialog-like .steps {
	padding: 10px;
}

#dialog-like .steps .step {
	float: left;
	width: 283px;
	height: 250px;
	margin-right: 5px;
	border: 1px solid #E6F6F6;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}

#dialog-like .steps .step .name{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-left: 15px;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}

#dialog-like .steps .step .description{
	padding: 10px;
	font-size: 11px;
}

#player_won {
	width: 400px;
	margin: 0 auto;
	padding: 2px;
	border: 3px solid #DDDDDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
}

#player_won .fg-pw-content {
	padding: 10px;
	overflow: auto;
}

#player_won .fg-pw-content .trophy {
	background: url('../image/facebook_game/trophy.png') no-repeat;
	width: 128px;
	height: 128px;
	float: left;
}

#player_won .fg-pw-content .message .description {
	margin-bottom: 5px;
}

#dialog-help .fg-hd-content {
	padding: 10px;
}

#dialog-rank .fg-rd-content {
	padding: 10px;
}