.faq-category-name {
	color: #333;
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
	padding: 5px 0;
	text-decoration: none;
}

.faq-category-content {

}

.faq-question {
	background: url('../image/faq_system/faq-question.png') 0 5px no-repeat;
	padding: 6px 0 2px 18px;
	border-bottom: 1px solid #E7E7E7;
}

.faq-question a {
	color: #333;
	text-decoration: none;
}

.faq-question a:hover {
	color: #FF8900;
	text-decoration: none;
}

.faq-answer {
	color: #333;
	margin-top: 3px;
	border: 1px solid #E7E7E7;
	padding: 5px;
	display: none;
}

#faq-propose-dialog {
	background: #FFF;
	display: none;
}