.ocx-deal {
	position: relative;
	background: #EFEFEF url('../image/fb_deal/stripe2.png');
	border: 1px solid #D0D0D0;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
}

.ocx-deal:before, .ocx-deal:after 
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ocx-deal:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.ocx-deal .fb-deal {
	position: relative;
	overflow: auto;
}

.ocx-deal .ribbon {
	position: absolute;
	background: url('../image/fb_deal/ribbon.png') no-repeat;
	width: 84px;
	height: 82px;
	margin: -16px 0 0 -15px;
	z-index: 3;
}

.fb-deal .contest-info {
	float: left;
	background: #fff;
	border: 1px solid #E6E6E6;
	margin-right: 10px;
	padding: 8px;
	overflow: auto;
}

.contest-info.one-column {
	float: none !important;
	margin-right: 0px;
	margin-bottom: 2px;
}

.fb-deal .contest-users {
	background: #fff;
	border: 1px solid #E6E6E6;
	padding: 10px;
	overflow: auto;
}

.contest-info .image {
	float: left;
	margin-right: 3px;
}
.contest-info .image.one-column {
	margin-right: 20px;
}

.contest-info  .deal-info {
	float: left;
	background: rgba(0, 0, 0, 0.7);
	min-width: 250px;
	border: 1px solid #1A1A1A;
	padding: 10px;
}

.ocx-deal .deal-pagination {
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 11px;
}

.deal-pagination  .deal-next-selector, .deal-pagination  .deal-prev-selector, .deal-pagination  .deal-pager-selector {
	float: right;
}

.deal-pagination  .deal-pager-selector {
	padding: 0 3px 0 3px;
}

.deal-info .intro {
	color: #FFF;
	text-align: center;
	font-size: 12px;
}

.deal-info .details{
	padding-top: 10px;
	margin-bottom: 15px;
	overflow: auto;
}

.deal-info .details .dbox {
	float: left;
	min-width: 80px;
	border-right: 1px solid #4D575E;
	padding: 0 5px 0 5px;
}

.deal-info .details .dbox:nth-child(3n+3){
	border-right: none;
}

.dbox span {
	display: block;
	text-align: center;
}

.dbox span.gray {
	color: #ABABAB;
}

.dbox span.white {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	padding: 2px 0;
}

.deal-info .dbuttons {
	text-align: center;
}

a.participate-button {
	cursor: pointer;
	background: url('../image/fb_deal/dbutton.png') top left repeat-x;
	padding: 12px 15px 12px 15px;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	text-decoration: none;
	display: inline-block;
}

a.participate-button span {
	color: #FFFFFF;
	background: url('../image/fb_deal/drun.png') no-repeat;
	padding-left: 20px;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

a.participate-button:hover, input.participate-button:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.deal-info .dcounter-area {
	margin-top: 10px;
	text-align: center;
	overflow: auto;
}

.dcounter-area .dcounter {
	max-width: 210px;
	margin: 0 auto;
	overflow: auto;
}

.intro-invite {
	margin-bottom: 10px;
}

.intro-invite span.big-number {
	font-size: 20px;
	font-weight: bold;
}

.contest-users .photo-list {
	height: 52px;
	overflow: hidden;
	margin-top: 3px;
}

.photo-list .avatar .points {
	background: #4D575E;
	line-height:10px;
	font-size: 9px;
	color: #FFF;
	padding: 1px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
}
.photo-list .avatar {
	float: left;
	width: 50px;
	height: 50px;
	background: url('../image/fb_deal/dquestion.png') no-repeat;
	border: 1px solid #E6E6E6;
	margin: 0 3px 3px 0;
	position: relative;
}

.photo-list .avatar .no-photo {
	width: 50px;
	height: 50px;
	background: url('../image/fb_deal/no-avatar.png') no-repeat;
}

.contest-users .np-text {
	font-size: 11px;
}

/* Countdown  */

.dcounter .text-remaining span{
	padding: 2px 15px;
}

.dcounter .hasCountdown { 
	overflow: auto;
}
.dcounter .countdown_rtl {
	direction: rtl;
}
.dcounter .countdown_holding span {
	color: #7E7E7E;
}

.dcounter .countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.dcounter .countdown_show1 .countdown_section {
	width: 98%;
}

.dcounter .countdown_show2 .countdown_section {
	width: 48%;
}

.dcounter .countdown_show3 .countdown_section {
	width: 32.5%;
}

.dcounter .countdown_show4 .countdown_section {
	min-width: 40px;
	min-height: 40px;
	background: #FFF;
	border: 2px solid #4D575E;
	padding: 2px 2px 0 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 1px;
}

.dcounter .countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}

.dcounter .countdown_show7 .countdown_section {
	width: 14%;
}

.dcounter .countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}

.dcounter .countdown_amount {
	font-size: 200%;
}
.dcounter .countdown_descr {
	display: block;
	width: 100%;
}

/* stop countdown */

/* PARTICIPATE FORM */

#dialog-deal-like-share {
	background: #FFF;
	display: none;
}

#dialog-deal-like-share .fb-deal-close-dialog {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('../image/fb_deal/close-dialog.png') no-repeat;
	width: 17px;
	height: 17px;
}

#dialog-deal-like-share .steps {
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

#dialog-deal-like-share .steps .step {
	float: left;
	min-width: 154px;
	text-align: center;
	margin-right: 3px;
	padding: 3px;
	border: 1px solid #E7E;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#dialog-deal-like-share .steps .step:nth-child(3n+3) {
	margin-right: 0px;
}

.step .action-name {
	background: #EFEFEF url('../image/fb_deal/stripe2.png');
	font-weight: bold;
	border-bottom: 1px dotted #E6E6E6;
	/*padding: 2px 0; */
}

.step .action-type {
	background: #EFEFEF url('../image/fb_deal/help.png') 2px 2px no-repeat;
	font-size: 10px;
	padding: 2px 0;
	cursor: pointer;
}

.step .fb-area {
	min-height: 64px;
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
}

.fb-area .fdu-share {
	width: 64px;
	height: 64px;
	background: url('../image/fb_deal/share.png') no-repeat;
	margin: 0 auto;
	cursor: pointer;
}

.fb-area .fdu-invite-friends {
	width: 64px;
	height: 64px;
	background: url('../image/fb_deal/invite-friend.jpg') no-repeat;
	margin: 0 auto;
	cursor: pointer;
}

.fb-area .fdu-email-btn {
	width: 64px;
	height: 64px;
	background: url('../image/fb_deal/mail-btn.png') no-repeat;
	margin: 0 auto;
	cursor: pointer;
}

.fdu-step-locked {
	background: url('../image/fb_deal/locked.png') no-repeat !important;
	cursor: auto !important;
}

.step .action-name span {
	background: #70B236;
	color: #FFF;
	font-weight: normal !important;
	padding: 0px 4px 0 4px;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius: 20px;
	display: none;
}

#dialog-deal-like-share .progress-bar {
	height: 10px;
	border: 1px solid #000;
}

.participate-info {
	background: #FFF5CC url('../image/fb_deal/info.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 33px;
	margin-bottom: 5px;
	color: #555555;
}

.participate-info .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.rules-info {
	background: #FFF5CC;
	border: 1px solid #F2DD8C;
	padding: 5px 5px 5px 15px;
	margin-bottom: 5px;
	color: #555555;
	font-size: 11px;
	display: none;
}

.rules-info .close {
	float: right;
	background: url('../image/fb_deal/close.png') no-repeat;
	width: 7px;
	height: 7px;
	padding-top: 0px;
	padding-right: 0px;
	cursor: pointer;
}

.success-info {
	background: #EAF7D9 url('../image/fb_deal/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	padding: 5px 5px 5px 33px;
	margin-bottom: 5px;
	color: #555555;
	font-size: 11px;
	display: none;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.deal-separator {
	height: 1px;
	border-bottom: 1px dotted #E6E6E6;
	padding: 1px 0 2px 0;
}

a.participants-view-all {
	float: right;
	margin-right: 5px;
	color: #000;
	text-decoration: none;
	font-size: 11px;
}

.deal-help-info {
	width: auto;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	overflow: hidden;
}

.deal-help-info .deal-help-info-name {
	font-weight: bold;
	margin-bottom: 2px;
}

.deal-help-info .deal-help-info-desc {
	font-style: italic;
}

.deal-help-info .deal-help-info-desc p, .deal-help-info .deal-help-info-desc span{
	margin-bottom: 0px !important;
	font-size: 11px !important;
}

/* Rhino slider */
.rhino-btn {
	background:url(../image/fb_deal/rhinoslider/rhinoslider-sprite.png) 0 0 no-repeat;
	z-index:10;
	width:56px;
	height:53px;
	display:block;
	text-indent:-999%;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-prev, .rhino-next { bottom:-4px; }

.rhino-prev {
	left:-6px;
	background-position:-168px 0;
}

.rhino-next {
	right:-6px;
	background-position:-106px 0;
}

.rhino-prev:hover { background-position:-168px -53px; }

.rhino-next:hover { background-position:-106px -53px; }

.rhino-toggle {
	top:-4px;
	left:-6px;
}

.rhino-play { background-position:0 0; }

.rhino-play:hover { background-position:0 -53px; }

.rhino-pause { background-position:-56px 0; }

.rhino-pause:hover { background-position:-56px -53px; }

.rhino-container { position:relative; }

.rhino-caption {
	position:absolute;
	background: #000;
	display:none;
	left:0;
	right:0;
	top:0;
	color:#fff;
	padding:10px;
	text-align:right;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets {
	position: absolute;
	bottom: -3px;
	left: 50%;
	margin:0 0 0 -50px;
	z-index: 10;
	background: #fff;
	padding:0;
}

.rhino-bullets:before, .rhino-bullets:after {
	position:absolute;
	display:block;
	left:-16px;
	content:' ';
	width:16px;
	height:26px;
	background:url(../image/fb_deal/rhinoslider/rhinoslider-sprite.png) -224px 0 no-repeat;
}

.rhino-bullets:after {
	left:auto;
	right:-16px;
	background-position: -240px 0;
}

.rhino-bullets li {
	float:left;
	display:inline;
	margin:0 2px;
}

.rhino-bullets li a.rhino-bullet {
	display: block;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: white;
	font-size: 10px;
	text-align: center;
	padding: 6px 0 5px 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
	color:#999;
	background:#eee;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
	color:#fff;
	background:#5cd4e8;
}

/* scrollpane */

.deal-help-info .jspContainer
{
	overflow: hidden;
	position: relative;
}

.deal-help-info .jspPane
{
	position: absolute;
}

.deal-help-info .jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 100%;
	background: red;
}

.deal-help-info .jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 9px;
	background: red;
}

.deal-help-info .jspVerticalBar *,
.deal-help-info .jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.deal-help-info .jspCap
{
	display: none;
}

.deal-help-info .jspHorizontalBar .jspCap
{
	float: left;
}

.deal-help-info .jspTrack
{
	background: #EFFFFF;
	position: relative;
}

.deal-help-info .jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 15px !important;
}

.deal-help-info .jspHorizontalBar .jspTrack,
.deal-help-info .jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.deal-help-info .jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.deal-help-info .jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.deal-help-info .jspVerticalBar .jspArrow
{
	height: 16px;
}

.deal-help-info .jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.deal-help-info .jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.deal-help-info .jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html  .deal-help-info .jspCorner
{
	margin: 0 -3px 0 0;
}