/* Base */

	.fb-wall{
		width: auto;
		height: 200px !important;
		font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
		font-size:13px;
		line-height:1.2em;
		color:#333333;
		background-color:#FFF;
		overflow: hidden;
	}
		
	.fb-wall a{
		text-decoration:none;
		color:#3B5998;}
		
	.fb-wall a:hover{
		text-decoration:underline;}
	
	.fb-wall.loading{
		height:300px;
		background:url('../image/fb_wall/loader-small.gif') no-repeat center center;}
	
	.fb-wall-box{
		margin-bottom:10px;
		border-top:1px solid #eee;
		padding-top:10px;}
		
	.fb-wall-box-first{
		border:0;
		padding-top:0;}
		
	.fb-wall-avatar{
		float:left;
		border:0;}
		
	.fb-wall-data{
		margin-left:60px;}
		
	.fb-wall-media{
		display:block;
		font-size:11px;
		margin-bottom:5px;}
		
	.fb-wall-border-left{
		border-left:2px solid #CCCCCC;
		padding:0 0 3px 8px;}
		
	.fb-wall-media-container{
		display:table;}
		
	.fb-wall-media-link{
		border:1px solid #ccc;
		display:inline-block;
		color:#3B5998;
		cursor:pointer;
		float:left;
		margin-right:5px;}
		
	.fb-wall-media-link:hover{
		border:1px solid #3B5998;}
		
	.fb-wall-picture{
		margin-right:10px;
		border:0;
		display:block;
		margin:3px;}
		
	.fb-wall-name{
		display:block;
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-caption{
		display:block;
		color:#3B5998;}
		
	.fb-wall-description{
		display:block;
		color:#777;
		line-height:1.2em;}
		
	.fb-wall-icon{
		float:left;
		margin-right:5px;}
		
	.fb-wall-date{
		font-size:11px;
		color:#777;
		clear:left;
		display:block;
		margin-bottom:5px;}
		
	.fb-wall-message{
		display:block;
		margin-bottom:5px;}
		
	.fb-wall-message-from{
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-link{
		color:#333;
		font-size:11px;
		text-decoration:none;}

/* Likes*/
	
	.fb-wall-likes{
		border-bottom:1px solid #E5EAF1;
		margin-bottom:2px;
		display:block;
		font-size:11px;
		background:url('../image/fb_wall/like.gif') no-repeat 0 0 #FFF;
		padding-top:5px;}
		
	.fb-wall-likes div{
		margin:0;
		background:url('../image/fb_wall/like.gif') no-repeat 0 -5px #EDEFF4;
		padding:5px 5px 4px 24px;}
		
	.fb-wall-likes div span{
		color:#3B5998;}

/* Comments */

	.fb-wall-comments{
		margin-top:2px;
		font-size:11px;}
	
	.fb-wall-comment{
		background-color:#EDEFF4;
		border-bottom:1px solid #E5EAF1;
		margin-top:2px;
		padding:5px 5px 4px;
		display:block;
		overflow:hidden;}
		
	.fb-wall-comment-message{
		display:table;}
		
	.fb-wall-comment-from-name{
		font-weight:bold;
		color:#3B5998;}
		
	.fb-wall-comment-from-date{
		color:#777;
		clear:left;
		display:block;}
		
	.fb-wall-comment-avatar{
		width:32px;
		height:32px;
		float:left;
		margin-right:5px;
		overflow:hidden;}
		
	.fb-wall-comment-avatar img{
		width:32px;
		height:32px;}
		
/* Clearfix */
		
	.fb-wall:after, .fb-wall-media:after, .fb-wall-clean{
		content:'.';
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
		font-size:0;
		line-height:0;}		
		

.fw-only-owner .fb-wall-avatar {
	display:none;
}	

.fw-only-owner .fb-wall-data {
	margin-left: 0px;
}	

.fw-only-owner-left .fb-wall-media-container {
	display: block;
	float: left;
}

.fw-only-owner .fb-wall-message-from {
	display: none;
}	
		
		
/* scrollpane */

.fb-wall .jspContainer
{
	overflow: hidden;
	position: relative;
}

.fb-wall .jspPane
{
	position: absolute;
}

.fb-wall .jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 100%;
	background: red;
}

.fb-wall .jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 9px;
	background: red;
}

.fb-wall .jspVerticalBar *,
.fb-wall .jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.fb-wall .jspCap
{
	display: none;
}

.fb-wall .jspHorizontalBar .jspCap
{
	float: left;
}

.fb-wall .jspTrack
{
	background: #EFFFFF;
	position: relative;
}

.fb-wall .jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 15px !important;
}

.fb-wall .jspHorizontalBar .jspTrack,
.fb-wall .jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.fb-wall .jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.fb-wall .jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.fb-wall .jspVerticalBar .jspArrow
{
	height: 16px;
}

.fb-wall .jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.fb-wall .jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.fb-wall .jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html  .fb-wall .jspCorner
{
	margin: 0 -3px 0 0;
}