.feefo_center {
	text-align: center;
}

.feefo-comments-list .date {
	width: 100px;
	float: left;
}

.feefo-comments-list .rating {
	width: 100px;
	float: left;
}

.feefo-comments-list .text {
	min-height: 60px;
	margin: 10px 0 10px 200px;
}