/* God I hate Microsoft! */
#header #cart {
	width: 310px;
}
#header #cart .heading {
	
}
#header #cart .content {
	width: 310px;
}
#header #search {
	position: inherit;
	float: right;
}
#header .button-search {
	top: 1px;
}
#header #search input {
	padding: 3px 1px 1px 33px;
	height: 19px;
}
/* menu */
#menu ul li {
	position: relative;
}
#menu ul li div {
	z-index: 5;
}
#menu ul li.active div {
	display: block;
}
.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
/* button */
.prduct-info a.button span {
	line-height: 12px;
	display: block;
}