/*------------------------------------------------------------------------
# Featured Carousel Module for OpenCart 1.5.1.x
# ------------------------------------------------------------------------
# Copyright (C) 2011 OpenCartSoft.com. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: www.OpenCartSoft.com
# Websites:  http://www.opencartsoft.com -  Email: admin@opencartsoft.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/

.jcarousel-skin-opencartsoft .jcarousel-container {
  background: #FFF;
	margin-bottom: 20px;
}

.jcarousel-skin-opencartsoft .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-opencartsoft .jcarousel-container-horizontal {
    padding: 0px 40px;
}

.jcarousel-skin-opencartsoft .jcarousel-container-vertical {
    width: 128px;
    height: 600px;
    padding: 40px 20px;
}

.jcarousel-skin-opencartsoft .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-opencartsoft .jcarousel-clip-horizontal {
    
}

.jcarousel-skin-opencartsoft .jcarousel-clip-vertical {
    width:  128px;
    height: 600px;
}

.jcarousel-skin-opencartsoft .jcarousel-item {
   text-align: center;
}

.jcarousel-skin-opencartsoft .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-opencartsoft .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-opencartsoft .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-opencartsoft .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-opencartsoft .jcarousel-next-horizontal {
    position: absolute;
    top: 50px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/next-horizontal.png') no-repeat 0 0;
}

.jcarousel-skin-opencartsoft .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url('../image/prev-horizontal.png');
}

.jcarousel-skin-opencartsoft .jcarousel-next-horizontal:hover,
.jcarousel-skin-opencartsoft .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-opencartsoft .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-opencartsoft .jcarousel-next-disabled-horizontal,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/prev-horizontal.png') no-repeat 0 0;
}

.jcarousel-skin-opencartsoft .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url('../image/next-horizontal.png');
}

.jcarousel-skin-opencartsoft .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-opencartsoft .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-opencartsoft .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 55px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/next-vertical.png') no-repeat 0 0;
}

.jcarousel-skin-opencartsoft .jcarousel-next-vertical:hover,
.jcarousel-skin-opencartsoft .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-opencartsoft .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-opencartsoft .jcarousel-next-disabled-vertical,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-opencartsoft .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 55px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url('../image/prev-vertical.png') no-repeat 0 0;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-vertical:hover,
.jcarousel-skin-opencartsoft .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-vertical,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-opencartsoft .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
