#fixed-bar {
	z-index: 99999;
}

.fixedb-tooltip{
	position:absolute;
    z-index:1001;
    left:-9999px;
    background-color:#333;
    padding:1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fixedb-tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#333;
    padding:2px 7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fixedb-tooltip:before, .fixedb-tooltip:after {
	content:'';
	display:block;
	position:absolute;
	left:49%;
	width:0;
	height:0;
}
.fixedb-tooltip:before {
	border:solid 7px transparent;
	border-top-color:#333;
	margin-left:-7px;
	bottom: -14px;
}
.fixedb-tooltip:after {
	border:solid 6px transparent;
	margin-left:-6px;
	bottom:-12px;
	border-top-color:#333;
}

/*----- bar style -----*/
.jx-bar {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height:37px;
	padding:0px;
	width:100%;
	background-color:#e5e5e5;
	border:#b5b5b5 solid 1px;
}

	/* rounded top-left corner */
	.jx-bar-rounded-tl {
		-webkit-border-top-left-radius:5px;
		-khtml-border-radius-topleft:5px;	
		-moz-border-radius-topleft:5px;
		border-top-left-radius:5px;
	}

	/* rounded bottom-left corner */
	.jx-bar-rounded-bl {
		-webkit-border-bottom-left-radius:5px;
		-khtml-border-radius-bottomleft:5px;	
		-moz-border-radius-bottomleft:5px;
		border-bottom-left-radius:5px;
	}

	/* rounded top-right corner */
	.jx-bar-rounded-tr {
		-webkit-border-top-right-radius:5px;
		-khtml-border-radius-topright:5px;	
		-moz-border-radius-topright:5px;
		border-top-right-radius:5x;
	}

	/* rounded bottom-right corner */
	.jx-bar-rounded-br {
		-webkit-border-bottom-right-radius:5px;
		-khtml-border-radius-bottomright:5px;	
		-moz-border-radius-bottomright:5px;
		border-bottom-right-radius:5x;
	}


.jx-bar .special-offers-holder {
	float: left;
	width: 295px;
	height: 150px;
	background: #000;
	border: 1px solid #000;
}	
	
.jx-bar .special-offer {
	float: left;
	width: 295px;
	height: 46px;
	background: url('../image/fixed_bar/offer-back.png') no-repeat;
	margin-top: -8px;
	padding:4px 8px 4px 8px;
	/*border:#e5e5e5 solid 1px;	*/
}

.jx-bar .special-offer.hide {
	display: none;
}

.jx-bar .special-offer  .image {
	float: left;
	width: 90px;
	height: 90px;
	margin-top: -63px; 
	background: #FFF;
	padding: 3px;
	/*border: 1px solid #333;*/
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 0px 3px #333;
	-webkit-box-shadow: 0px 0px 3px #333;
	box-shadow: 0px 0px 3px #333;
}

.jx-bar .special-offer  .name {
	float: left;
	position: fixed;
	left: 105px;
	padding: 1px 0 0 20px;
	width: 155px; 
}

.jx-bar .special-offer  .name a{
	color: #fff;
	font-weight: bold;
	font-size: 11px;
}

.jx-bar .special-offer  .description {
	position: fixed;
	left: 105px;
	bottom: 10px;
	padding: 1px 0 0 20px;
	width: 155px;
}

.jx-bar .special-offer  .description a{
	color: #fff;
	font-size: 11px;
}

.jx-bar .special-offer  .sageata-sus {
	float: left;
	position: fixed;
	left: 285px;
	bottom: 25px;
	width: 16px;
	height: 16px;
	background: url('../image/fixed_bar/sageata-sus.png') no-repeat;
}

.jx-bar .special-offer  .sageata-jos {
	float: left;
	position: fixed;
	left: 285px;
	bottom: 7px;
	width: 16px;
	height: 16px;
	background: url('../image/fixed_bar/sageata-jos.png') no-repeat;
}
	
/*----- bar separator -----*/
.jx-bar span.jx-separator-left  {
	float:left;
	width:1px;
	height:100%;
	background-color:#ccc;
}

.jx-bar span.jx-separator-right {
	float:right;
	width:1px;
	height:100%;
	background-color:#ccc;
}


/*----- bar button -----*/

.jx-bar-button .bar-area {
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
	padding:3px 8px 3px 8px;
	border:#e5e5e5 solid 1px;	
	margin:2px;
}

.jx-bar-button .bar-area  input {
	color: #666;
}

.jx-bar-button .bar-button {
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
	padding:3px 5px 3px 5px;
	border:#e5e5e5 solid 1px;	
	margin:2px;
}

.jx-bar-button-right .bar-button {
	float:right;	
}

	
	/*	button hover effect	*/
	.jx-bar-button .bar-button:hover {
		background-color:#eee;
		border:#ccc solid 1px;
		padding:4px 5px 2px 5px;
		margin:2px;
	}

	/* rounded button corners */
	.jx-bar-button-rounded .bar-button:hover {
		-webkit-border-radius:3px;
		-khtml-border-radius:3px;	
		-moz-border-radius:3px;
		border-radius:3px;
	}
	

/*----- bar text container and button arrow indicator -----*/



.jx-bar iframe {
	margin:4px 0px 4px 10px;
}

	.jx-bar div a:link, .jx-bar div a:visited {
		color:#666;
		text-decoration:none;
	}

	.jx-bar div a:hover {
		color:#0099FF;
		text-decoration:none;
	}

/*----- button tooltip -----*/
.jx-bar-button-tooltip {
	height:auto;
	padding:5px 10px 5px 10px;
	color:#fff;
	background-color:#36393D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

	/* rounded tooltip */
	.jx-bar-button-tooltip {
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
	}

/*----- nav menu -----*/
.jx-nav-menu {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:2px;
	background-color:#eee;
	border:#ccc solid 1px;
	min-width: 300px;
	min-height: 250px;
	padding: 5px;
	z-index: 9999;
}

	.jx-nav-menu-rounded {
		-webkit-border-radius:3px;
		-khtml-border-radius:3px;	
		-moz-border-radius:3px;
		border-radius:3px;
	}

.jx-nav-menu ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%; /* width of menu items */
}

.jx-nav-menu a:hover {
	color:#fff;
	text-decoration:none;	
}
	
/* styles for menu items */
.jx-nav-menu ul li a {
	display:block;
	text-decoration:none;
	color:#777;
	background:#fff; /* IE6 Bug */
	padding:8px;
	border:1px solid #eee; /* IE6 Bug */
	border-bottom:0px;
}

/* active menu button */
.jx-nav-menu-active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
	background-color:#ccc;
	padding:4px 8px 4px 8px;
	margin:2px;
}

/* active menu button (rounded) */
.jx-nav-menu-active-rounded {
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;	
	-moz-border-radius:3px;
	border-radius:3px;
}

/* menu indicator UP state */
.jx-arrow-up {
	background-image:url('../image/fixed_bar/up.gif');
	background-repeat:no-repeat;
	background-position:center;
}

/* menu indicator DOWN state */
.jx-arrow-down {
	background-image:url('../image/fixed_bar/dn.gif');
	background-repeat:no-repeat;
	background-position:center;
}

div.jx-arrow-down {
	background: none;
}
/* tooltip point direction */
.jx-tool-point-dir-down {
	background-image:url('../image/fixed_bar/ttd.gif');
	background-repeat:no-repeat;
	background-position:center bottom;
	height:5px;
	width:auto;
}

.jx-tool-point-dir-up {
	background-image:url('../image/fixed_bar/ttu.gif');
	background-repeat:no-repeat;
	background-position:center bottom;
	height:5px;
	width:auto;
}

/* hide and show/unhide item */
.jx-hide {
	float:right;
	background-image:url('../image/fixed_bar/hide.gif');
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

	/* if showOnTop is TRUE, use "show.gif" instead of "hide.gif" */
	.jx-hide-top {
		float:right;
		background-image:url('../image/fixed_bar/show.gif');
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}

.jx-show {
	height:30px;
	padding:0px;
	width:40px;
	background-color:#e5e5e5;
	border:#b5b5b5 solid 1px;
}

.jx-show-button {
	float:right;
	background-image:url('../image/fixed_bar/show.gif');
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

	/* if showOnTop is TRUE, use "hide.gif" instead of "show.gif" */
	.jx-show-button-top {
		float:right;
		background-image:url('../image/fixed_bar/hide.gif');
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}

.jx-hide-separator {
	width:1px;
	height:100%;
	background-color:#ccc;
	float:right;
}

.fixb-tweet{
	width: 300px;
}
.query {
	color: #ccc;
}

.tweet_list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background-color: #FFF;
}

.tweet_list li {
	list-style-type: none;
	padding-bottom: 2px;
	margin-bottom:2px;
	border-bottom: 1px dotted #E5E5E5;
	min-height: 52px;
}
	
.tweet_list li a {
	color: #0C717A;
}

.tweet_text {
	color: #666;
	font-size: 11px;
}

.tweet_text  a{
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.tweet_text  a:hover{
	text-decoration: underline;
}

.tweet_time {
	color: #333;
}

.tweet_time a{
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
	
.tweet_list .tweet_avatar {
	padding: 0 3px 2px 0;
	float: left;
}
	
.tweet_list .tweet_avatar img {
	vertical-align: middle;
	border: 1px solid #E7E7E7;
}

#fixb-online p{
	background: #70B236;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	opacity: 0.8;
	
}

#fixb-online a{
	color: #fff;
}

#popupFixedBar #content{
	margin-bottom: 0px !important;
	min-height: 100px !important;
}

#popupFixedBar #content .content{
	margin-bottom: 0px !important;
	border: none;
	overflow: hidden !important;
}

#popupFixedBar #content .buttons{
	margin-bottom: 0px !important;
	background: none;
}

/* button */
#popupFixedBar #content  a.button, #popupFixedBar #content input.button {
	display: inline-block;
	padding-left: 6px;
	border: 1px solid #D8DFEA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	background: none;
}

#popupFixedBar #content  input.button {
	margin: 0;
	border: 0;
	height: 28px;
	padding: 0px 12px 0px 12px;
	color: #629B2F;
	border: 1px solid #D8DFEA;
}
#popupFixedBar #content  a.button span{
	color: #629B2F;
	line-height: 12px;
	font-size: 11px;
	display: inline-block;
	padding: 4px 7px 5px 1px;
	background: none;
}
#popupFixedBar #content  a.button:hover, #popupFixedBar #content input.button:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

#popupFixedBar #content  a.button:hover span {
	text-shadow: #FFF 1px 1px 1px;
	
}

#contact-load{
	width: 400px;
	height: auto;
}


/* start autosuggest search */
.autosuggest-list {
	width: 300px;
	max-height: 300px;
	overflow:auto;
}

/* autosuggest search result */
.autosuggest-list > div {
	overflow: auto;
	padding: 3px 3px;
	background: #fff;
	border-bottom: 1px dotted #CBCBCB;
}


.autosuggest-list > div.no-borders {
	overflow: auto;
	margin-bottom: 15px;
	padding: 0;
	background: #fff;
	border: none;
	border-radius: none;
}
.autosuggest-list .left {
	float: left;
	margin-left: 15px;
}
.autosuggest-list .right {
	float: left;
	margin-left: 15px;
}
.autosuggest-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 3px;
}
.autosuggest-list .image {
	float: left;
	margin-right: 10px;
}
.autosuggest-list .image img {
	padding: 3px;
	/*
	border: 1px solid #E7E7E7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	*/
}
.autosuggest-list .name {
	margin-bottom: 2px;
}
.autosuggest-list .name a {
	color: #38B0E3;
	font-size:11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.autosuggest-list .description {
	line-height: 15px;
	margin-bottom: 10px;
	color: #4D4D4D;
	font-size: 11px;
}
.autosuggest-list .rating {
	color: #7B7B7B;
}
.autosuggest-list .price {
	float: left;
	text-align: left;
	color: #365899;
	font-weight:bold;
	font-size: 11px;
	padding: 4px 15px 4px 15px;
	overflow: auto;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}
.autosuggest-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.autosuggest-list .price-new {
	font-weight: bold;
}

.autosuggest-list .cart {
    float:right;
	margin: 0 5px 0 10px;
}
/* stop autosuggest search */

.highlight { 
	text-decoration: underline;
	font-weight: bold;
}

/* POPUP */

#popupFixedBar{
	display:none;
	position:fixed;
	bottom: 42px;
	_position:absolute; /* hack for internet explorer 6*/
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:1000;
	padding:5px;
	font-size:13px;
}

#popupFixedBar h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupFixedBarClose{
	width: 16px;
	height: 17px;
	font-size:14px;
	line-height:14px;
	right:0px;
	top:0px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	background: url('../image/fixed_bar/autosuggest-close.png') no-repeat;
}