.sm-intro {
	position: fixed;
	background: #FFF;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	z-index: 9999999;
}

.sm-intro-content {
	height: 100%;
	margin: 0 auto;
	width: 980px;
}

.sm-announcer {
	position: absolute;
	float: left;
	background: url('../image/sales_motivator/announcer.png');
	width: 70px;
	height: 70px;
	margin-top: -20px;
}

.sm-message {
	float: left;
	line-height: 50px;
	margin-left: 100px;
}

.sm-discount-info {
	float: right;
	margin-right: 40px;
}

.sm-discount-info .sm-discount-value {
	float: left;
	font-size: 27px;
	text-align: center;
}

.sm-discount-info .sm-separator {
	float: left;
	border-left: 1px dashed #666666;
    height: 35px;
    line-height: 35px;
    margin: 6px 15px;
    width: 1px;
}

.sm-discount-value span.details {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}

.sm-actions, .sm-help {
	float: right;
	line-height: 50px;
	margin-right: 5px;
}

.sm-button {
	background: url('../image/sales_motivator/get-discount-bg.png') repeat-x;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF !important;
    display: inline-block;
    line-height: 24px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear 0s;
}

.sm-button:hover {
	background: url('../image/sales_motivator/get-discount-bg-hover.png') repeat-x;
}

#sm-more-info-notification {
	margin-bottom: 20px;
}

#smmoreinfo .buttons {
	background: none;
	border-top: 1px dashed #666;
}

/* POPUP style */

/*	--------------------------------------------------
	salesmotivator Modals
	-------------------------------------------------- */
		
	.salesmotivator-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 9999;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.salesmotivator-modal {
		position: fixed;
		visibility: hidden;
		top: 0 !important; 
		left: 50%;
		margin-left: -260px;
		width: 460px;
		height: 612px;
		background: url('../image/sales_motivator/popup-bg.png') no-repeat;
		padding-top: 240px;
		z-index: 10000;
		}
	
	.salesmotivator-modal .salesmotivator-modal-content {
		padding: 0 20px;
		height: 355px;
	}
	
	.salesmotivator-modal .close-salesmotivator-modal {
		font-size: 50px;
		line-height: .5;
		position: absolute;
		top: 124px;
		right: 217px;
		color: #FFF;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		text-decoration: none;
		cursor: pointer;
		} 

#salesmotivator-display-info .sm-user-area {
	height: 300px;
}

.sm-user-actions .sm-action {
	line-height: 35px;
	border-bottom: 1px dashed #A8A9AE;
	padding: 5px 0 5px 0;
}

.sm-action.center {
	text-align: center;
}

.sm-action.invite-link {
	height: auto;
	line-height: 15px;
	margin-top: 5px;
}

.sm-action.no-border-bottom {
	border-bottom: none;
}

.sm-action.green-text {
	color: #008000;
	font-family: Verdana;
	font-size: 20px;
}

.sm-action  .sm-radius {
	font-family: Arial;
	background: #3B5999;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-style: normal;
    height: 35px;
    margin: 0 14px 0 0;
    text-align: center;
    width: 25px;
	border-radius: 3px 3px 3px 3px;
}

.sm-action .sm-fan-right {
	float: right;
	margin-top: 7px;
}

.sm-action-button {
	float: right;
	background: #3B5999;
	padding: 3px 15px;
	min-width: 70px;
	margin-top: 3px;
    color: #FFFFFF !important;
    line-height: 24px;
	border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.2) inset;
	text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear 0s;
	display: inline-block;
}
 
.sm-invite-friends {
	padding: 7px 30px;
}

#ta-invite-link {
	width: 98%;
	min-height: 48px;
}


/* small resolutions */
@media only screen and (max-device-height: 768px) {
	.sm-intro {
		z-index: 99;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.sm-intro-content {
		width: 95% !important;
	}
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
	.sm-intro-content {
		width: 95% !important;
	}
	
	.sm-message {
		display: none !important;
	}
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
	.sm-intro-content {
		width: 95% !important;
	}
	
	.sm-message {
		display: none !important;
	}
	
	.sm-discount-info {
		display: none !important;
	}
}

@media only screen and (max-width: 299px) {
	.sm-intro-content {
		width: 95% !important;
	}
	
	.sm-message {
		display: none !important;
	}
	
	.sm-discount-info {
		display: none !important;
	}
	
	.sm-announcer {
		display: none !important;
	}
}