 /* slider */
.slider-range > a.ui-slider-handle:nth-of-type(1){
    background: url('../image/slider_changer.png') no-repeat;
    /*position: relative;*/
    top: -13px;
    left: 0;
    width: 13px;
    height: 29px;
    display: block;
    border: none;
    border-radius: 0;
    margin-left: -6px;
}
.slider-range > a.ui-slider-handle:nth-of-type(2){
    background: url('../image/slider_changer.png') no-repeat;
    /*position: relative;*/
    top: -13px;
    left: 0;
    width: 13px;
    height: 29px;
    display: block;
    border: none;
    border-radius: 0;
    margin-left: -7px;
}

.slider-range  a.ui-slider-handle:focus,#slider-range  a.ui-slider-handle:hover{
    background: url('../image/slider_changer_actv.png') no-repeat;
}
a.ui-state-focus,a.ui-state-hover,a.ui-state-active{
    border: none;
    border-radius: 0; 
    outline: 0;
}


.slider-range .ui-slider-range.ui-widget-header  {
    height: 6px;
    top:7px;
    background-image: linear-gradient(bottom, rgb(74,167,217) 0%, rgb(142,199,232) 52%, rgb(211,233,247) 100%);
    background-image: -o-linear-gradient(bottom, rgb(74,167,217) 0%, rgb(142,199,232) 52%, rgb(211,233,247) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(74,167,217) 0%, rgb(142,199,232) 52%, rgb(211,233,247) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(74,167,217) 0%, rgb(142,199,232) 52%, rgb(211,233,247) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(74,167,217) 0%, rgb(142,199,232) 52%, rgb(211,233,247) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(74,167,217)),
        color-stop(0.52, rgb(142,199,232)),
        color-stop(1, rgb(211,233,247))
        );
}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
    background: url('../image/slider_back.png') no-repeat;
   /* width: 201px;*/
    height: 14px;
    margin: 0 auto;
    z-index: 1;
    border: none;
    border-radius: 0;

}

.price_slider{
    margin-bottom: 10px;
}
.weight_slider{
    margin-bottom: 10px;
}
.product-grid > div {
    display: inline-block !important;
}
.product-list > div {
    display: block!important; 
}