/* Offer of the week  */
#offer {
	overflow: hidden;
	margin-bottom: 15px;
}
#offer.right {
	float: right;
	width: 245px;
	overflow: hidden;
}
#offer .image {
	float: left;
	margin-right: 10px;
}
#offer .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
#offer .name {
	margin-bottom: 20px;
}
#offer .name a {
	color: #38B0E3;
	font-size: 24px;
	text-decoration: none;
}
#offer .description {
	line-height: 15px;
	margin: 20px 0 10px 0;
	color: #4D4D4D;
}
#offer .price {
	float: right;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
#offer .price-old {
	color: #F00;
	text-decoration: line-through;
	font-size: 20px;
}
#offer .price-new {
	font-size: 28px;
}
#offer .cart {
	margin-bottom: 3px;
}
#offer .wishlist, #offer .compare {
	margin-bottom: 3px;
}
#offer .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
#offer .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
#offer .counter {
	margin-bottom: 20px;
	overflow: hidden;
}	

.bx-pager {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	text-align:right;
}

.bx-pager a.pager-link{
	margin-right: 2px;
}

.bx-pager .pager-link {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.bx-pager .pager-link.pager-active {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
