div.superdealcontent {
	margin-bottom:0;
}
.list div.superdealcontent{
 margin-bottom:20px;
}
div.superdealcontent h1 {
	margin-bottom:10px;
}
div.superdealcontent #nav {
    bottom: 20px;
	right: 20px;
    position: absolute;
    z-index: 100;
}
div.superdealcontent #nav a {
    background:  #333333;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 13px;
    margin-left: 5px;
    padding: 4px 8px;
    text-align: right;
    text-decoration: none;
    width: 5px;
	border:solid 1px #191919;
	border-radius: 3px;	
}
div.superdealcontent #nav a.activeSlide {
	background:#000;
}
div.superdeal {
    width: 100%;
    margin-bottom:20px;
    position: relative;
	float:left;
}
div.superdeal ul.panel {
	margin:0;
	padding:0px;
	z-index:100;
	float:left;
	margin-right: 20px;
}
div.superdeal ul.panel li {
	list-style: none;
	padding: 0;
}
div.superdeal .boxlist {
    padding: 10px;
    border: solid 1px #d5d5d5;
    background: #fff;
    border-radius: 4px;
	float:left;
}
div.superdeal .list .boxlist {
	margin-bottom: 10px;
} 
div.superdeal .boxlist .superdealcontent{
    float:left;
}
div.superdeal .boxlist .image {
    padding: 10px;
	float:left;
	margin-right: 15px;
}
div.superdeal .boxlist .name  a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
div.superdeal .description{
    width: 48%;
    float:left;
}
div.superdeal .save {
    color: #fff;
    font-weight: bold;
    padding: 15px;
	position:relative;
    text-align: center;
}
div.superdeal .fullprice {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
	position:relative;
}

div.superdeal .yousave {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
	position:relative;
}
div.superdeal .quantity {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
	position:relative;
}
.yousave .yousavetext {
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-transform: uppercase;
    top: 0px; 
}
.fullprice .price-old {
    font-size: 11px;
    text-decoration: line-through;
}

.fullprice .textprice{
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-transform: uppercase;
    top: 0px;
}
.fullprice .price-old {
    position: absolute;
    right: 40px;
    top: 0px;  
    font-size: 11px;
}
.pricenew{
    padding-top: 5px;
}
div.superdeal div.off {
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-transform: uppercase;
    top: 0px;
}
div.superdeal div.cart {
 	float:left;
}
div.buynowcontent {
	padding-top:15px;
}
/* jQuery Countdown styles 1.5.11. */
.hasCountdown {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 7px;
	border-radius: 5px;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
.countdown_dashboard {
    text-align: center;
    width: 225px;
	text-shadow: 0 1px #fff;
	float:left;
	margin:0 10px 10px 0;
}

.dash {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    position: relative;
	padding: 5px;
	background: #eeeeee;
	border-radius:5px;
	border-bottom:solid 2px #d5d5d5;
}

.dash .digit {
    font-size: 30px;
    font-weight: bold;
    float: left;
    width: 20px;
    text-align: center;
    position: relative;
}
.dash .digit .bottom{
	margin-left: 5px;
}

.dash_title {
    display: block;
    bottom: 0px;
    right: 10px;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 11px;
}
.buynow.small  {
    font-size:15px;
    font-weight: bold;
	min-width: 70px;
}
.buynow.medium  {
    font-size:22px;
    font-weight: bold;
	min-width: 80px;
}
.buynow.large  {
    font-size:26px;
    font-weight: bold;
	min-width: 90px;
}
.buynow, .buynow span {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.buynow {
    white-space: nowrap;
    line-height:1em;
    outline: none;
    overflow: visible; /* removes extra side padding in IE */
    border: 1px solid #999;/* IE */
    border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
    border-bottom:rgba(0, 0, 0, .4) 1px solid;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .1) 0%,
        rgba(0, 0, 0, .1) 100%
    );/* FF3.6 */
background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(0, 0, 0, .1)),
        to(rgba(255, 255, 255, .1))
    );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    margin-bottom:10px;
}
.buynow.full, .buynow.full span {
    display: block;
}
.buynow:hover, .buynow.hover {
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .1) 100%
    );/* FF3.6 */
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(255, 255, 255, .1)),
        to(rgba(255, 255, 255, .2))
    );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.buynow:active, .buynow.active {
    top:1px;
}
.buynow span {
    position: relative;
    color:#fff;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    border-top: rgba(255, 255, 255, .2) 1px solid;
    padding:15px 30px;
    line-height:1em;
    text-decoration:none;
    text-align:center;
    white-space: nowrap;
}
.buynow.black {
    background-color: #333333;
}
.buynow.gray {
    background-color: #666666;
}
.buynow.white {
    background-color: #FFFFFF;
}
.buynow.white span{
    color: #666666;
}
.buynow.red {
    background-color: #e62727;
}
.buynow.orange {
    background-color: #ff5c00;
}
.buynow.magenta {
    background-color: #A9014B;
}
.buynow.yellow {
    background-color: #ffb515;
}
.buynow.blue {
    background-color: #00ADEE;
}
.buynow.pink {
    background-color: #e22092;
}
.buynow.green {
    background-color: #91bd09;
}
.buynow.rosy {
    background-color: #F16C7C;
}
.buynow.brown {
    background-color: #804000;
}
.buynow.purple {
    background-color: #800080;
}
.buynow.cyan {
    background-color: #46C7C7;
}
.buynow.gold {
    background-color: #D4A017;
}

#loading {
    text-align: center;
    margin: 10px;
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
}
