/* Front End Styles */

/* -- Twitter Standard Login Button -- */

a.twitStandardBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	text-shadow: 1px 0 #f8f8f8;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding: 0 12px 0 33px;
	background: url("../image/twitterlogin/twitStandardBg.png") repeat-x left top;
	border: 1px solid #cccccc;
	border-radius: 3px;
	position: relative;
}

a.twitStandardBtn span {
	width: 25px;
	height: 26px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../image/twitterlogin/twitIconStandardBtn.png") no-repeat left top;	
}

a.twitStandardBtn:active {
	background: url("../image/twitterlogin/twitStandardBg.png") repeat-x left bottom;
}


/* -- End -- */


/* -- Twitter Metro Style Login Button -- */

a.twitMetroStyleBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 20px 0 58px;
	background-color: #16b2e4;
	position: relative;
	transition: background-color 700ms ease-in-out;
	-moz-transition: background-color 700ms ease-in-out;
	-webkit-transition: background-color 700ms ease-in-out;
	-o-transition: background-color 700ms ease-in-out;
}

a.twitMetroStyleBtn span {
	width: 38px;
	height: 36px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../image/twitterlogin/twitIconMetroBtn.png") no-repeat left top;
}

a.twitMetroStyleBtn:hover {
	background-color: #00a0d5;
}


/* -- End -- */


/* -- Twitter Rounded Login Button -- */

a.twitRoundedBtn {
	display: inline-block;
	text-decoration: none;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 20px 0 57px;
	background: url("../image/twitterlogin/roundedBtnBg.png") repeat-x left 0;
	border: 1px solid #0984ac;
	border-radius: 4px;
	position: relative;
}

a.twitRoundedBtn span {
	width: 37px;
	height: 30px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	position: absolute;
	background: url("../image/twitterlogin/twitIconRoundedBtn.png") no-repeat left top;
}

a.twitRoundedBtn:hover {
	background: url("../image/twitterlogin/roundedBtnBg.png") repeat-x left -30px;
}

a.twitRoundedBtn:active {
	background: url("../image/twitterlogin/roundedBtnBg.png") repeat-x left -60px;
}


/* -- End -- */


/* -- Provide Email Form -- */

.requireEmailFormBox {
	margin: 20px auto;
	width: 500px;
}

.infoNoteBox {
	background-color: #fff4db;
	border: 1px solid #f8dfba;
	padding: 10px;
	margin: 0 0 20px 0;
	border-radius: 5px;
	color: #333333;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: normal;
}

.infoNoteBox p {
	color: #333333;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	margin: 3px 0;
	padding: 0;
	font-weight: normal;
	display: block;
}

p.notvalidEmailNotification {
	color: #c00900;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin: 8px auto;
	padding: 0;
	font-weight: bold;
	display: block;
}

form.twitRequireEmail {
	width: 500px;
	margin: 0 auto;
}

form.twitRequireEmail input {
	width: 240px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	margin: 0 10px 0 0;
	padding: 0 10px;
	color: #333;
	font-size: 13px;
}

form.twitRequireEmail input.submitEmailBtn {
	background: url(../image/twitterlogin/submitEmailButtonBg.png) repeat-x left top;
	border: 1px solid #3399dd;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	width: 110px;
	margin: 0;
	padding: 0;
	outline: none;
}


/* -- End of Provide Email Form -- */