html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-family: 'Yanone Kaffeesatz';
	font-size: 16px;
	font-weight: 300;
	color: #444;
}

a, a:visited, a b {
	color: #444;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: #333; 
}

/* layout */
#container {
	margin: 0;
	text-align: left;
}

.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.information {
	background: #FFF5CC url('../image/information.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

/* button */
a.button, input.button {
	display: inline-block;
	padding-left: 6px;
	background: url('../image/awg/def-button.png') left top repeat;
	border: 1px solid #D8DFEA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
input.button {
	margin: 0;
	border: 0;
	height: 28px;
	padding: 0px 12px 0px 12px;
	border: 1px solid #D8DFEA;
}
a.button span{
	line-height: 12px;
	display: inline-block;
	padding: 6px 12px 8px 5px;
}
a.button:hover, input.button:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

a.button:hover span {
	text-shadow: #FFF 1px 1px 1px;
	
}

/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}

.product-grid {
	width: 100%;
	background: #FFF;
}
.product-grid > div {
	width: 160px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #F7F7F7;
	box-shadow: 0 8px 6px -6px #C0BCBC;
}
.product-grid .name {
	height: 27px;
	overflow: hidden;
}
.product-grid .name a {
    font-size: 20px;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .price {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: normal;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}


/* Diapo */
.pix_diapo {
	overflow: hidden;
	position: relative;

}
.pix_diapo > div {
	/*display: none;*/
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#pix_prev, #pix_next {
	cursor: pointer;
	display: block;
	height: 22px;
	margin-top: -20px;
	position: absolute;
	top: 45%;
	width: 22px;
	z-index: 1001;
}
#pix_prev {
	background: url('../image/awg/bx-prev.png') no-repeat;
	left: 2px;
}
#pix_next {
	background: url('../image/awg/bx-next.png') no-repeat;
	left: auto!important;
	right: 2px!important;
}

.pix_relativize {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.elemHover {
	position: absolute;
}
.ui-loader {
	display: none;
}
 