



<link rel="stylesheet" type="text/css" href="catalog/view/javascript/countdown/<?php echo $theme?>.css" />
<script type="text/javascript" src1="catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>

<style>
.cb
{
clear:both;
height:0px;

}

</style>

<script type="text/javascript">
$(function()
{
var austDay = new Date();
	austDay = new Date('<?php echo $param[0]?>', '<?php echo $param[1]?>','<?php echo $param[2]?>',<?php echo $param[3]?>,<?php echo $param[4]?>,0);

$('#ct').countdown({until: austDay,
expiryUrl: document.URL,
<?php if($sync){
?>
serverSync:serverTime,
<?php
}?>
<?php if(!$sync){?>
timezone:<?php echo ceil( $this->config->get('time_offset')/60)?>

,
<?php }?>
layout:$('#imageLayout').html(),




});
})


</script>

<div id='ct' ></div>

<?php $class= ($show_day==1)?'ifld2':'ifld';

$class2= ($show_day==1)?'cal_section':'cal_section';

?>

<div id="imageLayout" style="display:none;height:0px"> 

<div class='time_top'><?php echo $top_text?></div>
<div class="<?php echo $class2?>">
   <?php if($show_day){
   
   ?>
   <div class='iflw'><span class='wday'><?php echo substr($param[5],0,3)?></span><br/>&nbsp;</div>
   <?php }
  ?>
   
   
   
   
  <div class='<?php echo $class?>'><span class="days">{dn}</span> <br/>Days </div>
   <div class='<?php echo $class?>'><span class="hours">{hnn}</span> <br/>Hours </div>
    <div class='<?php echo $class?>'><span class="minutes">{mnn}</span> <br/>Minutes </div>
	  <div class='<?php echo $class?>'><span class="seconds">{snn}</span> <br/>Seconds </div>

  </div>

  <div class="time_bottom"><?php echo $bottom_text?></div>
 
</div>
<script type="text/javascript">

function serverTime() { 
    var time = null; 
    $.ajax({url: 'index.php?route=time/count/server', 
        async: false,
		type:'post',
			data: 'product_id=99',
		 dataType: 'json', 
        success: function(json) { 
            time = new Date(json['output']); 
			//alert(time);
        }, error: function(r) { 
          <?php
		   $offset=$this->config->get('time_offset');
//$now = new DateTime(time()+$this->config->get('time_offset')); 
$date=date("M j, Y H:i:s",time()+$offset);?>
		   time=new Date('<?php echo $date?>');
			
    }}); 
    return time; 
}

</script>