
<p><?php echo $text_payment; ?></p>

<form action="<?php echo $action; ?>" method="post" id="payment">

<input type="Hidden" Name="psb" value="psb"/>
<input Type="Hidden" Name="biz" value="<?=$youraccount?>"/>
<input Type="Hidden" Name="inv" value="<?=$invoice?>"/>
<input Type="Hidden" Name="itm" value="<?=$description?>"/>
<input Type="Hidden" Name="amt" value="<?=$price?>"/>
<input Type="Hidden" Name="postURL" value="<?=$postURL?>"/>
<input Type="Hidden" Name="reqURL" value="<?=$reqURL?>"/>

<input Type="Hidden" Name="currencyCode" value="<?=$currencyCode?>"/>

  <div class="buttons">
    <div class="center"><a onclick="$('#payment').submit();" class="button"><span><h2><?php echo $button_confirm; ?></h2></span></a></div>
  </div>
</form>