<style type="text/css">
/*Thanks twitter css style from ninenik.com*/
div#holder_swap{
	margin:auto;
	width: 160px;
	margin-top:0px;
	background-color:#FFF;		
}

div.wrap_swap{
	width: 160px;
	height: 280px; 
	color: #5A5858;
	display: block;
	font-family:tahoma, "Microsoft Sans Serif", sans-serif, Verdana;
	font-size:12px;	
}

div.item_swap{
	border-bottom:1px black dotted;
	margin:0;
	padding:10px 0px 3px;
	width: 160px;
	height:40px;
	clear: both;
	color: #5A5858;
	display: block;	
	font-family:tahoma, "Microsoft Sans Serif", sans-serif, Verdana;
	font-size:12px;
}
</style>

<div class="box"<?php if(!$display){ echo ' style="display:none;"';}?>>
  	<div class="box-heading"><img src="catalog/view/theme/cl_default/image/bot.gif" alt="Opencart" border="0" /><?php echo $bot_show." ".$heading_title; ?></div>
	<div class="box-content">
<?php
	if (count($bot)==0) {
			echo $no_bot;
	}elseif(count($bot)>5){?>	

<div id="holder_swap">
    <div class="wrap_swap">
    	
        <?php for($i=count($bot);$i>=0;$i--){ ?>
        <div id="recent<?=$i?>" style="display:<?=($i<5)?"block":"none"?>;" class="item_swap" >
      <?php
			if(isset($bot[$i])){    
				echo ($i+1)." ) ".$name_bot."<font color=\"#800000\">".$bot[$i]['name']."</font><br />".$bot_at."<font color=\"#0000FF\">".$bot[$i]['date_show']."</font><br />".$bot_ip.$bot[$i]['ip']."<br /><br />"; 
			}
			
?>
        </div>
        <?php } ?>
    </div>
</div>
<!-- end twitter trigger-->
<?php }else{ ?>

<?php 
			for($j = 0; $j <= count($bot); $j++){ 
			if(isset($bot[$j])){    
				echo ($j+1)." ) ".$name_bot."<font color=\"#800000\">".$bot[$j]['name']."</font><br />".$bot_at."<font color=\"#0000FF\">".$bot[$j]['date_show']."</font><br />".$bot_ip.$bot[$j]['ip']."<br /><br />"; 
				} 
			}
			
		?>

<?php } ?>

	</div>
</div>


<script type="text/javascript">
var delay = 5000; // delay 5 sec.
var count = <?php echo count($bot); ?>; 
var showing = 5; 
var i = 0; 
var shift_box; 
var move_box;
function move_box(i){
	return function() {
	  $('#recent'+i).remove().css('display', 'none').prependTo('.wrap_swap');
	}
}
function shift_box() {
	var toShow = (i + showing) % count;

	$('#recent'+toShow).slideDown(1000,move_box(i));

	$('#recent'+i).slideUp(1000,move_box(i));
	i = (i + 1) % count;
	setTimeout('shift_box()', delay); 
}    

$(function(){
	 setTimeout('shift_box()', delay); 
});
</script>