<div class="facebook-login-button-area">
	<a href="javascript:void(0);" class="ocx-facebook-login-trigger <?php echo $button_class; ?>"><?php echo $button_name; ?></a>
</div>	
<div id="fb-root"></div>