<?php foreach($participants as $participant) { ?>	
	<div class="avatar">
		<?php if ($show_participant_points) { ?>
		<span class="points"><?php echo $participant['points']; ?></span>
		<?php } ?>
		<?php if ($show_participant_photo) { ?>
		<img src="http://graph.facebook.com/<?php echo $participant['fb_id']; ?>/picture" />
		<?php } else { ?>
		<img class="no-photo" />
		<?php } ?>
	</div>
<?php } ?>	

<?php for ($counter = 0; $counter < $still_need; $counter++ ) { ?>
	<div class="avatar"></div>
<?php } ?>