<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/magnific-popup.css"> 
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="catalog/view/theme/default/stylesheet/jquery.magnific-popup.js"></script> 
<style type="text/css">
.product-side {
overflow: hidden;
margin-bottom: 10px;
}
.product-side-main-box{
padding: 20px 0 10px;
}.product-side span.icon {
display: block;
float: left;
width: 80px;
height: 50px;
text-align: center;
color:teal;
}
.product-side span.text {
display: block;
font-size: 16px;
padding-left: 5px;
padding-top: 1px;
text-transform: uppercase;
}
.product-side a{
font-size: 16px;
}
.product-side span.subtext {
display: block;
padding-left: 52px;
text-transform: uppercase;
font-size: 12px;
color: #B6B6B6;
line-height: 20px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto; 
}
.mfp-zoom-in .mfp-with-anim{opacity:0;transition:all 0.2s ease-in-out;transform:scale(0.8)}.mfp-zoom-in.mfp-bg{opacity:0;transition:all 0.3s ease-out}.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1)}.mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8}.mfp-zoom-in.mfp-removing .mfp-with-anim{transform:scale(0.8);opacity:0}.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0}.mfp-newspaper .mfp-with-anim{opacity:0;-webkit-transition:all 0.2s ease-in-out;transition:all 0.5s;transform:scale(0) rotate(500deg)}.mfp-newspaper.mfp-bg{opacity:0;transition:all 0.5s}.mfp-newspaper.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1) rotate(0deg)}.mfp-newspaper.mfp-ready.mfp-bg{opacity:0.8}.mfp-newspaper.mfp-removing .mfp-with-anim{transform:scale(0) rotate(500deg);opacity:0}.mfp-newspaper.mfp-removing.mfp-bg{opacity:0}.mfp-move-horizontal .mfp-with-anim{opacity:0;transition:all 0.3s;transform:translateX(-50px)}.mfp-move-horizontal.mfp-bg{opacity:0;transition:all 0.3s}.mfp-move-horizontal.mfp-ready .mfp-with-anim{opacity:1;transform:translateX(0)}.mfp-move-horizontal.mfp-ready.mfp-bg{opacity:0.8}.mfp-move-horizontal.mfp-removing .mfp-with-anim{transform:translateX(50px);opacity:0}.mfp-move-horizontal.mfp-removing.mfp-bg{opacity:0}.mfp-move-from-top .mfp-content{vertical-align:top}.mfp-move-from-top .mfp-with-anim{opacity:0;transition:all 0.2s;transform:translateY(-100px)}.mfp-move-from-top.mfp-bg{opacity:0;transition:all 0.2s}.mfp-move-from-top.mfp-ready .mfp-with-anim{opacity:1;transform:translateY(0)}.mfp-move-from-top.mfp-ready.mfp-bg{opacity:0.8}.mfp-move-from-top.mfp-removing .mfp-with-anim{transform:translateY(-50px);opacity:0}.mfp-move-from-top.mfp-removing.mfp-bg{opacity:0}.mfp-3d-unfold .mfp-content{perspective:2000px}.mfp-3d-unfold .mfp-with-anim{opacity:0;transition:all 0.3s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg)}.mfp-3d-unfold.mfp-bg{opacity:0;transition:all 0.5s}.mfp-3d-unfold.mfp-ready .mfp-with-anim{opacity:1;transform:rotateY(0deg)}.mfp-3d-unfold.mfp-ready.mfp-bg{opacity:0.8}.mfp-3d-unfold.mfp-removing .mfp-with-anim{transform:rotateY(60deg);opacity:0}.mfp-3d-unfold.mfp-removing.mfp-bg{opacity:0}.mfp-zoom-out .mfp-with-anim{opacity:0;transition:all 0.3s ease-in-out;transform:scale(1.3)}.mfp-zoom-out.mfp-bg{opacity:0;transition:all 0.3s ease-out}.mfp-zoom-out.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1)}.mfp-zoom-out.mfp-ready.mfp-bg{opacity:0.8}.mfp-zoom-out.mfp-removing .mfp-with-anim{transform:scale(1.3);opacity:0}.mfp-zoom-out.mfp-removing.mfp-bg{opacity:0}@keyframes hinge{0%{transform:rotate(0);transform-origin:top left;animation-timing-function:ease-in-out}20%, 60%{transform:rotate(80deg);transform-origin:top left;animation-timing-function:ease-in-out}40%{transform:rotate(60deg);transform-origin:top left;animation-timing-function:ease-in-out}80%{transform:rotate(60deg) translateY(0);opacity:1;transform-origin:top left;animation-timing-function:ease-in-out}100%{transform:translateY(700px);opacity:0}}.hinge{animation-duration:1s;animation-name:hinge}.mfp-with-fade .mfp-content,.mfp-with-fade.mfp-bg{opacity:0;transition:opacity .5s ease-out}.mfp-with-fade.mfp-ready .mfp-content{opacity:1}.mfp-with-fade.mfp-ready.mfp-bg{opacity:0.8}.mfp-with-fade.mfp-removing.mfp-bg{opacity:0}
</style>
<div class="product-side-main-box">
		<div class="product-side">
			<span class="icon"><?php echo $featured_info_icon1; ?></span>
			<span class="text"><a href="#test-popup1"  data-effect="<?php echo $animation; ?>"><?php echo $featured_info_title1; ?></a></span>
			<span class="subtext"><?php echo $featured_info_subtext1; ?></span>

		</div>
    
    <div class="product-side">
			<span class="icon"><?php echo $featured_info_icon2; ?></span>
			<span class="text"><a href="#test-popup2"  data-effect="<?php echo $animation; ?>"><?php echo $featured_info_title2; ?></a></span>
			<span class="subtext"><?php echo $featured_info_subtext2; ?></span>

		</div>
		
		<div class="product-side">
			<span class="icon"><?php echo $featured_info_icon3; ?></span>
			<span class="text"><a href="#test-popup3"  data-effect="<?php echo $animation; ?>"><?php echo $featured_info_title3; ?></a></span>
			<span class="subtext"><?php echo $featured_info_subtext3; ?></span>

		</div>
	
	</div>

<div id="test-popup1" class="white-popup mfp-with-anim mfp-hide"><?php echo $featured_info_description1; ?></div>    
<div id="test-popup2" class="white-popup mfp-with-anim mfp-hide"><?php echo $featured_info_description2; ?></div>  
<div id="test-popup3" class="white-popup mfp-with-anim mfp-hide"><?php echo $featured_info_description3; ?></div>  
   
	  
<script type="text/javascript"><!--
$(document).ready(function() {
$('.product-side-main-box').magnificPopup({
  delegate: 'a',
  removalDelay: 500, //delay removal by X to allow out-animation
  callbacks: {
    beforeOpen: function() {
       this.st.mainClass = this.st.el.attr('data-effect');
    }
  },
  midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
});

});
</script>
	  
