<div id="content">
    <div class="content">
		<iframe src="//www.facebook.com/plugins/likebox.php?href=<?php echo $encode_facebook_link; ?>&amp;width=292&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:258px;" allowTransparency="true"></iframe>
    </div>
</div>