<div id="content">
	<div class="content">
		<div class="fixb-tweet"></div>
	</div>
</div>
<script type="text/javascript"><!--
$(".fixb-tweet").tweet({
	username: "<?php echo $username; ?>",
	join_text: "auto",
	avatar_size: 48,
	count: 3,
	auto_join_text_default: "", 
    auto_join_text_ed: "",
    auto_join_text_ing: "",
    auto_join_text_reply: "",
    auto_join_text_url: "",
	loading_text: "<?php echo addslashes($text_loading_tweets); ?>"
});
</script>   
