<div class="box">
  <div class="box-heading"><?php echo "SmartWear   "; ?><a href="http://shop.se-update.com/Sony-SmartWear">ดูสินค้าเพิ่มเติม >> <a></div>
  
  <div class="box-content">
  <?php if ($position == 'column_left') { ?>
  <div class="box-product">
   <table>
      <?php foreach ($products as $product) { ?>
      <tr>
	  <td>
        <?php if ($product['thumb']) { ?>
        <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" width="50" height="50" style="border: 1px solid #DBDEE1;" alt="<?php echo $product['name']; ?>" /></a>
        <?php } ?></td>
		<td style="width: 100%; border-bottom: 1px solid #DBDEE1;">
       <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
       
	  <?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
          <?php } ?>

        </div>
        <?php } else { ?>
	  <div class="price"><img src="./image/call_for_price.png" align="absmiddle" /> <?php echo $text_zero_price; ?></div>
	  <?php } ?>


</td></tr>
      <?php } ?>
</table>
</div>
  <?php } else { if ($position == 'column_right') { ?>
    <div class="box-product">
   <table>
      <?php foreach ($products as $product) { ?>
      <tr>
	  <td>
        <?php if ($product['thumb']) { ?>
        <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" width="50" height="50" style="border: 1px solid #DBDEE1;" alt="<?php echo $product['name']; ?>" /></a>
        <?php } ?></td>
		<td style="width: 100%; border-bottom: 1px solid #DBDEE1;">
       <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
      
	<?php if ($product['zero_price'] > 0) { ?>
        <div class="price">
	 <?php echo $text_price; ?>
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
	
          <?php } else { ?>
           <span class="price-old"><?php echo $product['price']; ?></span>  <span class="price-new"><?php echo $product['special']; ?></span>
 
	  <?php } ?>
        </div>
        <?php } else { ?>
	  <div class="price"><img src="./image/call_for_price.png" align="absmiddle" /> <?php echo $text_zero_price; ?></div>
	  <?php } ?>

</td></tr>
      <?php } ?>
</table>
</div>
  <?php } else { ?>
  <?php if ($display == 'grid') { ?>
    <div class="box-product">
      <?php foreach ($products as $product) { ?>
      <div>
        <?php if ($product['thumb']) { ?>
        <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
        <?php } ?>
        <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
       
	<?php if ($product['zero_price'] > 0) { ?>
        <div class="price">
	
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
	
          <?php } else { ?>
           <s><?php echo $product['price']; ?></s> <b><?php echo $product['special']; ?></b>
 
	  <?php } ?>
        </div>
        <?php } else { ?>
	  <div class="price"><img src="./image/call_for_price.png" align="absmiddle" /> <?php echo $text_zero_price; ?></div>
	  <?php } ?>

        <?php if ($product['rating']) { ?>
        <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
        <?php } ?>

       <?php if ($product['zero_price'] > 0 ) { ?>	
      <div class="cart"><a onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button"><span><?php echo $button_cart; ?></span></a></div>
	  <?php } else {?>
      <div class="cart"><a class="zero_button"><span><?php echo $button_cart; ?></span></a></div>	  
	  <?php } ?>

      </div>
      <?php } ?>
    </div>
	<?php } else { ?>
  <div class="product-list">
    <?php foreach ($products as $product) { ?>
    <div>
	<div class="right">
      <div class="cart"><a onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button"><span><?php echo $button_cart; ?></span></a></div>
      <div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist; ?></a></div>
	  </div>
	<div class="left">
      <?php if ($product['thumb']) { ?>
      <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
      <?php } ?>
	  <?php if ($product['price']) { ?>
        <div class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
          <?php } ?>
        </div>
        <?php } ?>
      <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
      <div class="description"><?php echo $product['description']; ?></div>
     
      <?php if ($product['rating']) { ?>
      <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
      <?php } ?>
	  </div>
	 </div>
    <?php } ?>
  </div>
   <?php } ?>
   <?php } ?>
   <?php } ?>
</div>
</div>