<script type="text/javascript">
var smartredfox_<?php echo $module; ?> = new Object();

smartredfox_<?php echo $module; ?>.link_url  = escape('<?php echo $link; ?>');
<?php if ($new_window) { ?>
	smartredfox_<?php echo $module; ?>.newWindow = true;
<?php } else { ?>
	smartredfox_<?php echo $module; ?>.newWindow = false;
<?php } ?> 	
smartredfox_<?php echo $module; ?>.small_image = '<?php echo $small_image; ?>'; //must be 75px x 75px
smartredfox_<?php echo $module; ?>.big_image   = '<?php echo $big_image; ?>'; //must be 500px x 500px
smartredfox_<?php echo $module; ?>.small_path = '<?php echo $small_swf; ?>';
smartredfox_<?php echo $module; ?>.big_path   = '<?php echo $large_swf; ?>';

smartredfox_<?php echo $module; ?>.small_params = smartredfox_<?php echo $module; ?>.small_path + '?ico=' + smartredfox_<?php echo $module; ?>.small_image;
smartredfox_<?php echo $module; ?>.big_params = smartredfox_<?php echo $module; ?>.big_path + '?big=' + smartredfox_<?php echo $module; ?>.big_image + '&ad_url=' + smartredfox_<?php echo $module; ?>.link_url + '&newWindow=' + smartredfox_<?php echo $module; ?>.newWindow;

function sizeup987(){
	$('#jcornerBig').css('top','0px');
	$('#jcornerSmall').css('top','-1000px');
}

function sizedown987(){
	$('#jcornerSmall').css('top','0px');
	$('#jcornerBig').css('top','-1000px');
}

$(document).ready(function(){
	$('body').prepend('<div id="jcornerBig" style="position:absolute;width:650px;height:650px;z-index:9999;right:0px;top:0px;"><object style="outline:none;" type="application/x-shockwave-flash" data="'+ smartredfox_<?php echo $module; ?>.big_params +'" id="jcornerBigObject" width="650" height="650"><param name="allowScriptAccess" value="always"/><param name="movie" value="'+ smartredfox_<?php echo $module; ?>.big_params +'"/><param name="FlashVars" value="'+ smartredfox_<?php echo $module; ?>.big_params +'"/><param name="wmode" value="transparent"/></object></div>');
	$('body').prepend('<div id="jcornerSmall" style="position:absolute;width:100px;height:100px;z-index:9999;right:0px;top:0px;"><object type="application/x-shockwave-flash" data="'+ smartredfox_<?php echo $module; ?>.small_params +'" id="jcornerSmallObject" width="100" height="100"><param name="FlashVars" value="?ico='+ smartredfox_<?php echo $module; ?>.small_params +'"/><param name="allowScriptAccess" value="always"/><param name="movie" value="'+ smartredfox_<?php echo $module; ?>.small_params +'"/><param name="wmode" value="transparent" /></object></div>');
	setTimeout("$('#jcornerBig').css('top','-1000px');",1000);
});
</script>