
<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
      &raquo;<?php echo $text_start; ?> : <?php echo $start; ?><br />
      &raquo;<?php echo $text_update; ?> : <?php echo $update; ?><br />
      &raquo;<?php echo $text_pageviews; ?> : <?php echo $pageviews; ?><br />
      &raquo;<?php echo $text_visitors; ?> : <?php echo $visitors; ?><br />
      &raquo;<?php echo $text_products; ?> : <?php echo $products; ?><br />
      &raquo;<?php echo $text_categories; ?> : <?php echo $categories; ?><br />
      <iframe name="iframe-seal" src="https://threatsign.com/ts_monitor_small_status/2f23c1d81536097c207362651201ee05"  frameBorder="0" scrolling="no"  width="160" height="50" allowTransparency="true"></iframe>

  </div>
</div>