<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content" style="text-align: center;">
    <div class="price_slider">
                            <p>
                            <label for="amount"><?php echo $text_price_range; ?></label>
                            <span type="text" class="amount" style="border:0; color:#f6931f; font-weight:bold;" ></span>
                            </p>
                           <div class="slider-range"></div>
                            <input type="hidden" name="priceMax" value="0">
                            <input type="hidden" name="priceMin" value="0">
                            
                        </div>
                           <div class="weight_slider">
                            <p>
                            <label for="amount"><?php echo $text_weight_range; ?></label>
                            <span type="text" class="amount" style="border:0; color:#f6931f; font-weight:bold;" ></span>
                            </p>
                           <div class="slider-range"></div>
                           <input type="hidden" name="weightMax" value="0">
                           <input type="hidden" name="weightMin" value="0">
                        </div>
  </div>
</div>
