<div class="box"><?php echo $heading_top; ?>
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">

    		<div>
			<img src="catalog/view/theme/cl_default/image/counter/today.png" width="16" height="16" alt="counter" />
			&nbsp;<?php echo $day_value; ?>&nbsp;<?php echo $text_today; ?>
		</div>
		<div>
			<img src="catalog/view/theme/cl_default/image/counter/week.png" width="16" height="16" alt="counter" />
			&nbsp;<?php echo $week_value; ?>&nbsp;<?php echo $text_week; ?>
		</div>
		<div>
			<img src="catalog/view/theme/cl_default/image/counter/month.png" width="16" height="16" alt="counter" />
			&nbsp;<?php echo $month_value; ?>&nbsp;<?php echo $text_month; ?>
		</div>
		<div>
			<img src="catalog/view/theme/cl_default/image/counter/year.png" width="16" height="16" alt="counter" />
			&nbsp;<?php echo $year_value; ?>&nbsp;<?php echo $text_year; ?>
	 	</div>
	 	<div>
			<img src="catalog/view/theme/cl_default/image/counter/all.png" width="16" height="16" alt="counter" />
			&nbsp;<?php echo $all_value; ?>&nbsp;<?php echo $text_all; ?>
		</div>

			
		<div style="padding: 5px 22px;">
			<?php echo $online.' '. $text_online; ?>
		</div>
	

  </div>
</div>