/*-- jShowOff module styles --*/
#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
	width: auto;
	height: auto;
	border:1px solid #000;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-khtml-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	}
.jshowoff {
	width: auto;
	margin: 0px 0px 12px 0px;
	overflow: hidden;
	}
.jshowoff div {	
	width: auto;
	height: auto;
	background: #000 url(bg-content-dark.jpg) bottom repeat-x;
	overflow: hidden;
	}
.jshowoff div, .jshowoff img, .jshowoff {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-khtml-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	}
	.jshowoff img {
		float:left;
		margin:18px 12px 18px 18px;
		border:#171717 solid 4px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff div p, .jshowoff div h2 {
	_background-color: #efefef;
	}
.jshowoff h2 {
	font-size: 18px;
	padding: 18px 0px 8px 0px;
	margin: 0;
	}
	.jshowoff h2 a {
		font-size:20px;
		text-decoration:none;
		color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
	}
.jshowoff p {
	font-size: 13px;
	line-height: 15px;
	color:#CCC;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Verdana, sans-serif;
	padding-bottom:18px;
	margin-right:8px;
	}
.prices {
	margin-top:-10px;
	float:right;
	margin-right:28px;
}
*:first-child+html .prices {
	margin-top:-32px;
}
span.prices {
	color:#000;
	background: #FC0;
	font-size:24px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 10px;
	border:1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.prices-old {
	margin-top:-10px;
	float:right;
}
*:first-child+html .prices-old {
	margin-top:-32px;
}
span.prices-old {
	color:#F00;
	text-decoration:line-through blink;
	background: #FC0;
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 6px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-khtml-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}
.prices-new {
	margin-top:-10px;
	float:right;
	margin-right:28px;
}
*:first-child+html .prices-new {
	margin-top:-32px;
}
span.prices-new {
	color:#000;
	background: #FC0;
	font-size:24px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 6px;
	border-right:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	text-decoration:blink;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-khtml-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}
.button-cart {
		margin-top:17px;
}
a.buttons-cart {
	padding:6px 12px;
	background: #06F;
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	border:1px #333 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
span.buttons-cart {
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
}
.ratings {
	margin:2px 0px;padding:0;
}
.ratings img {
	background:none;
	margin-left:0px;
}
.eddie {
	float: right;
	padding: 15px 20px 15px 20px;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}
.jshowoff-slidelinks a {
	display: block;
	background-color: #EEE;
	color: #000;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	border:1px solid #000;
	}
.jshowoff-controls a {
	display: block;
	background-color: #EEE;
	color: #000;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	border:1px solid #000;
	min-width:36px;
	text-align:center;	
	}	
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #900;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #000;
	}
p.jshowoff-controls {
	background: #000;
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}

<!-- if modules postion on side column -->
#prodtitle {
	text-align:center;
	margin:4px auto;
}
a#prodtitle {
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
.prices-side {
	margin-bottom:4px;
}
span.prices-side {
	display:block;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.prices-old-side {
	margin-bottom:4px;
}
span.prices-old-side {
	color:#F00;
	text-decoration:line-through blink;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	margin-right:8px;
}
.prices-new-side {
	margin-bottom:4px;
}
span.prices-new-side {
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:blink;
}