.mmosolutionmodal modal-backdrop.in, modal-backdrop.in {
  opacity: 0.5 !important;
  filter: alpha(opacity=50);
}
.mmosolutionmodal .modal-backdrop, .modal-backdrop { 
opacity: 0.5 !important;
  filter: alpha(opacity=50);

}
.mmosolutionmodal .modal-backdrop.fade, .modal-backdrop.fade  {
  /* opacity: 0; */
  filter: alpha(opacity=0);
}

.mmosolutionmodal .modal-backdrop, .modal-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.mmosolutionmodal   *, .mmosolutionmodal  *:before, .mmosolutionmodal  *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mmosolutionmodal  .row {
  margin-left: -15px;
  margin-right: -15px;
}
.mmosolutionmodal  .row:before,
.mmosolutionmodal  .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.mmosolutionmodal  .row:after {
  clear: both;
}
.mmosolutionmodal  .col-md-4, .mmosolutionmodal .col-md-8{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  
}
.mmosolutionmodal  .col-md-4 {
    float: left;
     width: 33.33333333%;
    
}
.mmosolutionmodal  .col-md-8 {
      float: left;
   width: 66.66666667%;
}
.mmosolutionmodal  .modal-body a.btn {
		text-decoration: none;
}

.mmosolutionmodal a.btn-success, .mmosolutionmodal a.btn-primary, .mmosolutionmodal a.btn-info, .mmosolutionmodal a.btn-danger, .mmosolutionmodal a.btn-warning :visited {
	color: #ffffff;
}
.mmosolutionmodal .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.mmosolutionmodal .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.mmosolutionmodal .btn:hover,
.mmosolutionmodal .btn:focus {
  color: #333333;
  text-decoration: none;
}
.mmosolutionmodal .btn:active,
.mmosolutionmodal .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.mmosolutionmodal .btn.disabled,
.mmosolutionmodal .btn[disabled],
.mmosolutionmodal fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mmosolutionmodal .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.mmosolutionmodal .btn-default:hover,
.mmosolutionmodal .btn-default:focus,
.mmosolutionmodal .btn-default:active,
.mmosolutionmodal .btn-default.active,
.mmosolutionmodal .open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.mmosolutionmodal .btn-default:active,
.mmosolutionmodal .btn-default.active,
.mmosolutionmodal .open .dropdown-toggle.btn-default {
  background-image: none;
}
.mmosolutionmodal .btn-default.disabled,
.mmosolutionmodal .btn-default[disabled],
.mmosolutionmodal fieldset[disabled] .btn-default,
.mmosolutionmodal .btn-default.disabled:hover,
.mmosolutionmodal .btn-default[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-default:hover,
.mmosolutionmodal .btn-default.disabled:focus,
.mmosolutionmodal .btn-default[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-default:focus,
.mmosolutionmodal .btn-default.disabled:active,
.mmosolutionmodal .btn-default[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-default:active,
.mmosolutionmodal .btn-default.disabled.active,
.mmosolutionmodal .btn-default[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.mmosolutionmodal .btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.mmosolutionmodal .btn-primary:hover,
.mmosolutionmodal .btn-primary:focus,
.mmosolutionmodal .btn-primary:active,
.mmosolutionmodal .btn-primary.active,
.mmosolutionmodal .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.mmosolutionmodal .btn-primary:active,
.mmosolutionmodal .btn-primary.active,
.mmosolutionmodal .open .dropdown-toggle.btn-primary {
  background-image: none;
}
.mmosolutionmodal .btn-primary.disabled,
.mmosolutionmodal .btn-primary[disabled],
.mmosolutionmodal fieldset[disabled] .btn-primary,
.mmosolutionmodal .btn-primary.disabled:hover,
.mmosolutionmodal .btn-primary[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-primary:hover,
.mmosolutionmodal .btn-primary.disabled:focus,
.mmosolutionmodal .btn-primary[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-primary:focus,
.mmosolutionmodal .btn-primary.disabled:active,
.mmosolutionmodal .btn-primary[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-primary:active,
.mmosolutionmodal .btn-primary.disabled.active,
.mmosolutionmodal .btn-primary[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.mmosolutionmodal .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.mmosolutionmodal .btn-warning:hover,
.mmosolutionmodal .btn-warning:focus,
.mmosolutionmodal .btn-warning:active,
.mmosolutionmodal .btn-warning.active,
.mmosolutionmodal .open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.mmosolutionmodal .btn-warning:active,
.mmosolutionmodal .btn-warning.active,
.mmosolutionmodal .open .dropdown-toggle.btn-warning {
  background-image: none;
}
.mmosolutionmodal .btn-warning.disabled,
.mmosolutionmodal .btn-warning[disabled],
.mmosolutionmodal fieldset[disabled] .btn-warning,
.mmosolutionmodal .btn-warning.disabled:hover,
.mmosolutionmodal .btn-warning[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-warning:hover,
.mmosolutionmodal .btn-warning.disabled:focus,
.mmosolutionmodal .btn-warning[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-warning:focus,
.mmosolutionmodal .btn-warning.disabled:active,
.mmosolutionmodal .btn-warning[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-warning:active,
.mmosolutionmodal .btn-warning.disabled.active,
.mmosolutionmodal .btn-warning[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.mmosolutionmodal .btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.mmosolutionmodal .btn-danger:hover,
.mmosolutionmodal .btn-danger:focus,
.mmosolutionmodal .btn-danger:active,
.mmosolutionmodal .btn-danger.active,
.mmosolutionmodal .open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.mmosolutionmodal .btn-danger:active,
.mmosolutionmodal .btn-danger.active,
.mmosolutionmodal .open .dropdown-toggle.btn-danger {
  background-image: none;
}
.mmosolutionmodal .btn-danger.disabled,
.mmosolutionmodal .btn-danger[disabled],
.mmosolutionmodal fieldset[disabled] .btn-danger,
.mmosolutionmodal .btn-danger.disabled:hover,
.mmosolutionmodal .btn-danger[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-danger:hover,
.mmosolutionmodal .btn-danger.disabled:focus,
.mmosolutionmodal .btn-danger[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-danger:focus,
.mmosolutionmodal .btn-danger.disabled:active,
.mmosolutionmodal .btn-danger[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-danger:active,
.mmosolutionmodal .btn-danger.disabled.active,
.mmosolutionmodal .btn-danger[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.mmosolutionmodal .btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.mmosolutionmodal .btn-success:hover,
.mmosolutionmodal .btn-success:focus,
.mmosolutionmodal .btn-success:active,
.mmosolutionmodal .btn-success.active,
.mmosolutionmodal .open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}
.mmosolutionmodal .btn-success:active,
.mmosolutionmodal .btn-success.active,
.mmosolutionmodal .open .dropdown-toggle.btn-success {
  background-image: none;
}
.mmosolutionmodal .btn-success.disabled,
.mmosolutionmodal .btn-success[disabled],
.mmosolutionmodal fieldset[disabled] .btn-success,
.mmosolutionmodal .btn-success.disabled:hover,
.mmosolutionmodal .btn-success[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-success:hover,
.mmosolutionmodal .btn-success.disabled:focus,
.mmosolutionmodal .btn-success[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-success:focus,
.mmosolutionmodal .btn-success.disabled:active,
.mmosolutionmodal .btn-success[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-success:active,
.mmosolutionmodal .btn-success.disabled.active,
.mmosolutionmodal .btn-success[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.mmosolutionmodal .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.mmosolutionmodal .btn-info:hover,
.mmosolutionmodal .btn-info:focus,
.mmosolutionmodal .btn-info:active,
.mmosolutionmodal .btn-info.active,
.mmosolutionmodal .open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.mmosolutionmodal .btn-info:active,
.mmosolutionmodal .btn-info.active,
.mmosolutionmodal .open .dropdown-toggle.btn-info {
  background-image: none;
}
.mmosolutionmodal .btn-info.disabled,
.mmosolutionmodal .btn-info[disabled],
.mmosolutionmodal fieldset[disabled] .btn-info,
.mmosolutionmodal .btn-info.disabled:hover,
.mmosolutionmodal .btn-info[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-info:hover,
.mmosolutionmodal .btn-info.disabled:focus,
.mmosolutionmodal .btn-info[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-info:focus,
.mmosolutionmodal .btn-info.disabled:active,
.mmosolutionmodal .btn-info[disabled]:active,
.mmosolutionmodal fieldset[disabled] .btn-info:active,
.mmosolutionmodal .btn-info.disabled.active,
.mmosolutionmodal .btn-info[disabled].active,
.mmosolutionmodal fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.mmosolutionmodal .btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.mmosolutionmodal .btn-link,
.mmosolutionmodal .btn-link:active,
.mmosolutionmodal .btn-link[disabled],
.mmosolutionmodal fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mmosolutionmodal .btn-link,
.mmosolutionmodal .btn-link:hover,
.mmosolutionmodal .btn-link:focus,
.mmosolutionmodal .btn-link:active {
  border-color: transparent;
}
.mmosolutionmodal .btn-link:hover,
.mmosolutionmodal .btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.mmosolutionmodal .btn-link[disabled]:hover,
.mmosolutionmodal fieldset[disabled] .btn-link:hover,
.mmosolutionmodal .btn-link[disabled]:focus,
.mmosolutionmodal fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.mmosolutionmodal .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.mmosolutionmodal .btn-sm,
.mmosolutionmodal .btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.mmosolutionmodal .btn-xs {
  padding: 1px 5px;
}
.mmosolutionmodal .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.mmosolutionmodal .btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.mmosolutionmodal .btn-default .caret {
  border-top-color: #333333;
}
.mmosolutionmodal .btn-primary .caret,
.mmosolutionmodal .btn-success .caret,
.mmosolutionmodal .btn-warning .caret,
.mmosolutionmodal .btn-danger .caret,
.mmosolutionmodal .btn-info .caret {
  border-top-color: #fff;
}
.mmosolutionmodal .dropup .btn-default .caret {
  border-bottom-color: #333333;
}
.mmosolutionmodal .dropup .btn-primary .caret,
.mmosolutionmodal .dropup .btn-success .caret,
.mmosolutionmodal .dropup .btn-warning .caret,
.mmosolutionmodal .dropup .btn-danger .caret,
.mmosolutionmodal .dropup .btn-info .caret {
  border-bottom-color: #fff;
}
.mmosolutionmodal .btn-group,
.mmosolutionmodal .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mmosolutionmodal .btn-group > .btn,
.mmosolutionmodal .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.mmosolutionmodal .btn-group > .btn:hover,
.mmosolutionmodal .btn-group-vertical > .btn:hover,
.mmosolutionmodal .btn-group > .btn:focus,
.mmosolutionmodal .btn-group-vertical > .btn:focus,
.mmosolutionmodal .btn-group > .btn:active,
.mmosolutionmodal .btn-group-vertical > .btn:active,
.mmosolutionmodal .btn-group > .btn.active,
.mmosolutionmodal .btn-group-vertical > .btn.active {
  z-index: 2;
}
.mmosolutionmodal .btn-group > .btn:focus,
.mmosolutionmodal .btn-group-vertical > .btn:focus {
  outline: none;
}
.mmosolutionmodal .btn-group .btn + .btn,
.mmosolutionmodal .btn-group .btn + .btn-group,
.mmosolutionmodal .btn-group .btn-group + .btn,
.mmosolutionmodal .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.mmosolutionmodal .btn-toolbar:before,
.mmosolutionmodal .btn-toolbar:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.mmosolutionmodal .btn-toolbar:after {
  clear: both;
}
.mmosolutionmodal .btn-toolbar .btn-group {
  float: left;
}
.mmosolutionmodal .btn-toolbar > .btn + .btn,
.mmosolutionmodal .btn-toolbar > .btn-group + .btn,
.mmosolutionmodal .btn-toolbar > .btn + .btn-group,
.mmosolutionmodal .btn-toolbar > .btn-group + .btn-group {
  margin-left: 5px;
}
.mmosolutionmodal .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.mmosolutionmodal .btn-group > .btn:first-child {
  margin-left: 0;
}
.mmosolutionmodal .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.mmosolutionmodal .btn-group > .btn:last-child:not(:first-child),
.mmosolutionmodal .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.mmosolutionmodal .btn-group > .btn-group {
  float: left;
}
.mmosolutionmodal .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.mmosolutionmodal .btn-group > .btn-group:first-child > .btn:last-child,
.mmosolutionmodal .btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.mmosolutionmodal .btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.mmosolutionmodal .btn-group .dropdown-toggle:active,
.mmosolutionmodal .btn-group.open .dropdown-toggle {
  outline: 0;
}
.mmosolutionmodal .btn-group-xs > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  padding: 1px 5px;
}
.mmosolutionmodal .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.mmosolutionmodal .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.mmosolutionmodal .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.mmosolutionmodal .btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.mmosolutionmodal .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.mmosolutionmodal .btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mmosolutionmodal .btn .caret {
  margin-left: 0;
}
.mmosolutionmodal .btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.mmosolutionmodal .dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.mmosolutionmodal .btn-group-vertical > .btn,
.mmosolutionmodal .btn-group-vertical > .btn-group {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.mmosolutionmodal .btn-group-vertical > .btn-group:before,
.mmosolutionmodal .btn-group-vertical > .btn-group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.mmosolutionmodal .btn-group-vertical > .btn-group:after {
  clear: both;
}
.mmosolutionmodal .btn-group-vertical > .btn-group > .btn {
  float: none;
}
.mmosolutionmodal .btn-group-vertical > .btn + .btn,
.mmosolutionmodal .btn-group-vertical > .btn + .btn-group,
.mmosolutionmodal .btn-group-vertical > .btn-group + .btn,
.mmosolutionmodal .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn-group:first-child > .btn:last-child,
.mmosolutionmodal .btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.mmosolutionmodal .btn-group-vertical > .btn-group:last-child > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.mmosolutionmodal .btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.mmosolutionmodal .btn-group-justified .btn {
  float: none;
  display: table-cell;
  width: 1%;
}
[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}
.mmosolutionmodal .modal-open {
  overflow: hidden;
}
.mmosolutionmodal .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.mmosolutionmodal .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.mmosolutionmodal .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.mmosolutionmodal .modal-dialog {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050;
}
.mmosolutionmodal .modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.mmosolutionmodal .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.mmosolutionmodal .modal-backdrop.fade {

  filter: alpha(opacity=0);
}
.mmosolutionmodal .modal-backdrop.in {
  opacity: 0.5 !important;
  filter: alpha(opacity=50);
}
.mmosolutionmodal .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.mmosolutionmodal .modal-header .close {
  margin-top: -2px;
}
.mmosolutionmodal .modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.mmosolutionmodal .modal-body {
  position: relative;
  padding: 20px;
}
.mmosolutionmodal .modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.mmosolutionmodal .modal-footer:before,
.mmosolutionmodal .modal-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.mmosolutionmodal .modal-footer:after {
  clear: both;
}
.mmosolutionmodal .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.mmosolutionmodal .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.mmosolutionmodal .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .mmosolutionmodal  .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mmosolutionmodal  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}




.mmosolutionmodal .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.mmosolutionmodal .img-rounded {
  border-radius: 6px;
}
.mmosolutionmodal .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.mmosolutionmodal .img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.mmosolutionmodal .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.mmosolutionmodal .sr-only-focusable:active,
.mmosolutionmodal .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.mmosolutionmodal .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.mmosolutionmodal .table > thead > tr > th,
.mmosolutionmodal .table > tbody > tr > th,
.mmosolutionmodal .table > tfoot > tr > th,
.mmosolutionmodal .table > thead > tr > td,
.mmosolutionmodal .table > tbody > tr > td,
.mmosolutionmodal .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.mmosolutionmodal .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.mmosolutionmodal .table > caption + thead > tr:first-child > th,
.mmosolutionmodal .table > colgroup + thead > tr:first-child > th,
.mmosolutionmodal .table > thead:first-child > tr:first-child > th,
.mmosolutionmodal .table > caption + thead > tr:first-child > td,
.mmosolutionmodal .table > colgroup + thead > tr:first-child > td,
.mmosolutionmodal .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.mmosolutionmodal .table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.mmosolutionmodal .table .table {
  background-color: #ffffff;
}
.mmosolutionmodal .table-condensed > thead > tr > th,
.mmosolutionmodal .table-condensed > tbody > tr > th,
.mmosolutionmodal .table-condensed > tfoot > tr > th,
.mmosolutionmodal .table-condensed > thead > tr > td,
.mmosolutionmodal .table-condensed > tbody > tr > td,
.mmosolutionmodal .table-condensed > tfoot > tr > td {
  padding: 5px;
}
.mmosolutionmodal .table-bordered {
  border: 1px solid #dddddd;
}
.mmosolutionmodal .table-bordered > thead > tr > th,
.mmosolutionmodal .table-bordered > tbody > tr > th,
.mmosolutionmodal .table-bordered > tfoot > tr > th,
.mmosolutionmodal .table-bordered > thead > tr > td,
.mmosolutionmodal .table-bordered > tbody > tr > td,
.mmosolutionmodal .table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.mmosolutionmodal .table-bordered > thead > tr > th,
.mmosolutionmodal .table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.mmosolutionmodal .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.mmosolutionmodal .table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.mmosolutionmodal .table > thead > tr > td.active,
.mmosolutionmodal .table > tbody > tr > td.active,
.mmosolutionmodal .table > tfoot > tr > td.active,
.mmosolutionmodal .table > thead > tr > th.active,
.mmosolutionmodal .table > tbody > tr > th.active,
.mmosolutionmodal .table > tfoot > tr > th.active,
.mmosolutionmodal .table > thead > tr.active > td,
.mmosolutionmodal .table > tbody > tr.active > td,
.mmosolutionmodal .table > tfoot > tr.active > td,
.mmosolutionmodal .table > thead > tr.active > th,
.mmosolutionmodal .table > tbody > tr.active > th,
.mmosolutionmodal .table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.mmosolutionmodal .table-hover > tbody > tr > td.active:hover,
.mmosolutionmodal .table-hover > tbody > tr > th.active:hover,
.mmosolutionmodal .table-hover > tbody > tr.active:hover > td,
.mmosolutionmodal .table-hover > tbody > tr:hover > .active,
.mmosolutionmodal .table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.mmosolutionmodal .table > thead > tr > td.success,
.mmosolutionmodal .table > tbody > tr > td.success,
.mmosolutionmodal .table > tfoot > tr > td.success,
.mmosolutionmodal .table > thead > tr > th.success,
.mmosolutionmodal .table > tbody > tr > th.success,
.mmosolutionmodal .table > tfoot > tr > th.success,
.mmosolutionmodal .table > thead > tr.success > td,
.mmosolutionmodal .table > tbody > tr.success > td,
.mmosolutionmodal .table > tfoot > tr.success > td,
.mmosolutionmodal .table > thead > tr.success > th,
.mmosolutionmodal .table > tbody > tr.success > th,
.mmosolutionmodal .table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.mmosolutionmodal .table-hover > tbody > tr > td.success:hover,
.mmosolutionmodal .table-hover > tbody > tr > th.success:hover,
.mmosolutionmodal .table-hover > tbody > tr.success:hover > td,
.mmosolutionmodal .table-hover > tbody > tr:hover > .success,
.mmosolutionmodal .table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.mmosolutionmodal .table > thead > tr > td.info,
.mmosolutionmodal .table > tbody > tr > td.info,
.mmosolutionmodal .table > tfoot > tr > td.info,
.mmosolutionmodal .table > thead > tr > th.info,
.mmosolutionmodal .table > tbody > tr > th.info,
.mmosolutionmodal .table > tfoot > tr > th.info,
.mmosolutionmodal .table > thead > tr.info > td,
.mmosolutionmodal .table > tbody > tr.info > td,
.mmosolutionmodal .table > tfoot > tr.info > td,
.mmosolutionmodal .table > thead > tr.info > th,
.mmosolutionmodal .table > tbody > tr.info > th,
.mmosolutionmodal .table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.mmosolutionmodal .table-hover > tbody > tr > td.info:hover,
.mmosolutionmodal .table-hover > tbody > tr > th.info:hover,
.mmosolutionmodal .table-hover > tbody > tr.info:hover > td,
.mmosolutionmodal .table-hover > tbody > tr:hover > .info,
.mmosolutionmodal .table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.mmosolutionmodal .table > thead > tr > td.warning,
.mmosolutionmodal .table > tbody > tr > td.warning,
.mmosolutionmodal .table > tfoot > tr > td.warning,
.mmosolutionmodal .table > thead > tr > th.warning,
.mmosolutionmodal .table > tbody > tr > th.warning,
.mmosolutionmodal .table > tfoot > tr > th.warning,
.mmosolutionmodal .table > thead > tr.warning > td,
.mmosolutionmodal .table > tbody > tr.warning > td,
.mmosolutionmodal .table > tfoot > tr.warning > td,
.mmosolutionmodal .table > thead > tr.warning > th,
.mmosolutionmodal .table > tbody > tr.warning > th,
.mmosolutionmodal .table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.mmosolutionmodal .table-hover > tbody > tr > td.warning:hover,
.mmosolutionmodal .table-hover > tbody > tr > th.warning:hover,
.mmosolutionmodal .table-hover > tbody > tr.warning:hover > td,
.mmosolutionmodal .table-hover > tbody > tr:hover > .warning,
.mmosolutionmodal .table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.mmosolutionmodal .table > thead > tr > td.danger,
.mmosolutionmodal .table > tbody > tr > td.danger,
.mmosolutionmodal .table > tfoot > tr > td.danger,
.mmosolutionmodal .table > thead > tr > th.danger,
.mmosolutionmodal .table > tbody > tr > th.danger,
.mmosolutionmodal .table > tfoot > tr > th.danger,
.mmosolutionmodal .table > thead > tr.danger > td,
.mmosolutionmodal .table > tbody > tr.danger > td,
.mmosolutionmodal .table > tfoot > tr.danger > td,
.mmosolutionmodal .table > thead > tr.danger > th,
.mmosolutionmodal .table > tbody > tr.danger > th,
.mmosolutionmodal .table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.mmosolutionmodal .table-hover > tbody > tr > td.danger:hover,
.mmosolutionmodal .table-hover > tbody > tr > th.danger:hover,
.mmosolutionmodal .table-hover > tbody > tr.danger:hover > td,
.mmosolutionmodal .table-hover > tbody > tr:hover > .danger,
.mmosolutionmodal .table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.mmosolutionmodal .table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

