<?php foreach ($products as $product) { ?>
<div<?php echo ' id="p' . $product['product_id'] . '"'; ?>>
  <?php if ($product['thumb']) { ?>
  <div class="image"><a href="<?php echo $product['href']; ?>" title="<?php echo (isset($cit_status) && $cit_status && $product['image_title'] != '') ? $product['image_title'] : $product['name']; ?>"><img src="<?php echo $product['thumb']; ?>"  title="<?php echo (isset($cit_status) && $cit_status && $product['image_title'] != '') ? $product['image_title'] : $product['name']; ?>" alt="<?php echo (isset($cit_status) && $cit_status && $product['image_alt'] != '') ? $product['image_alt'] : $product['name']; ?>" /></a></div>
  <?php } ?>
  <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
  <div class="description"><?php echo $product['description']; ?></div>
  <?php if ($product['price']) { ?>
  <div class="price">
    <?php if (!$product['special']) { ?>
    <?php echo $product['price']; ?>
    <?php } else { ?>
    <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
    <?php } ?>
    <?php if ($product['tax']) { ?>
    <br />
    <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
    <?php } ?>
  </div>
  <?php } ?>
  <?php if ($product['rating']) { ?>
  <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
  <?php } ?>
  <div class="cart"><a onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button"><span><?php echo $button_cart; ?></span></a></div>
  <div class="wishlist"><a onclick="addToWishList('<?php echo $product['product_id']; ?>');"><?php echo $button_wishlist; ?></a></div>
  <div class="compare"><a onclick="addToCompare('<?php echo $product['product_id']; ?>');"><?php echo $button_compare; ?></a></div>
</div>
<?php } ?>
