@charset "utf-8";
/* CSS Document */

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

	height:150px;
	text-align:center;
	margin:5px 0px;
	width:100%;
	background:#41a9df;
	font-family:Georgia, Arial,Tahoma,"Times New Roman", Times, serif, ADMUI3Lg, "Adobe Caslon Pro";
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	
	
}

.ifld
{
float:left;




padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;

moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;
border:1px solid #1e6e9b;
background-color:#2177a7;
width:80px;
overflow:hidden;
}
.ifld2
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;

moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;
background-color:#2177a7;
border:1px solid #1e6e9b;
width:60px;
overflow:hidden;
}
.iflw
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;

moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;
background-color:#2177a7;
border:1px solid #1e6e9b;
width:60px;
overflow:hidden;

}
.wday
{

font-size:20px;

}

.hours,.days
,.minutes,.seconds
{
font-size:20px;

}
.cal_section
{
width:360px;
margin:10px auto;


overflow:hidden;
text-align:center;

color:white;
}

.time_top
{

font-size:20px;
color:white;
}
.time_bottom
{

font-size:20px;
color:white;
}