@charset "utf-8";
/* CSS Document */

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

	height:120px;
	text-align:center;
	margin:5px 0px;
	padding:0px 0px;
	width:100%;
	background-color:#000;
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	
	
}
.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	padding:5px 5px;
	background:#1e1e1e;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
.ifld
{
float:left;




padding:5px 0px;
font-size:12px;
margin:auto;
margin-right:5px;

color:#ef1632;
width:80px;
overflow:hidden;
}
.ifld2
{
float:left;

padding:5px 0px;
font-size:12px;
margin:auto;
margin-right:5px;
color:#ef1632;

width:60px;
overflow:hidden;
}
.iflw
{
float:left;

padding:5px 0px;
font-size:12px;
margin:auto;
margin-right:5px;



width:60px;
overflow:hidden;

}
.wday
{

font-size:16px;
font-weight:bold;
color:#b8b4b4;
}

.hours,.days
,.minutes,.seconds
{
font-size:16px;
font-weight:bold;
color:#b8b4b4;
}
.cal_section
{
width:360px;
margin:5px auto;


overflow:hidden;
text-align:center;

color:white;
}

.time_top
{
padding-top:5px;
font-size:16px;
font-weight:bold;
color:white;
}
.time_bottom
{
font-weight:bold;
font-size:16px;
padding-top:5px;
color:white;}