@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

	height:140px;
	text-align:center;
	margin:5px 0px;
	padding:0px 0px;
	width:100%;
	background-color:#850c1c;
	border:1px solid #850c1c;
	font-family:Tahoma,Verdana, Helvetica, sans-serif;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	
	
}

.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
.ifld
{
float:left;




padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;


width:80px;
overflow:hidden;
}
.ifld2
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;


width:60px;
overflow:hidden;
}
.iflw
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;



width:60px;
overflow:hidden;

}
.wday
{

font-size:20px;
font-weight:bold;
color:white;
}

.hours,.days
,.minutes,.seconds
{
font-size:20px;
font-weight:bold;
color:white;
}
.cal_section
{
width:360px;
margin:5px auto;


overflow:hidden;
background:url(bg3.jpg) top left repeat-x;
moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;
text-align:center;

color:white;

}

.time_top
{
padding-top:5px;
font-size:20px;
font-weight:bold;
color:white;
}
.time_bottom
{
font-weight:bold;
font-size:20px;
padding-top:5px;
color:white;}