@charset "utf-8";
/* CSS Document */

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

	height:150px;
	text-align:center;
	margin:5px 0px;
	width:100%;
	background:url(bg1.jpg) top  left repeat-x;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	
	
}
.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	padding:5px 5px;
	background:#1e1e1e;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
.ifld
{
float:left;




padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;

moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;
background:url(bg2.jpg) top left repeat-x;
border:1px solid #fff;
width:80px;
overflow:hidden;
}
.ifld2
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;
/*
moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;*/
background:url(bg2.jpg) top left repeat-x;
border:1px solid #fff;
width:60px;
overflow:hidden;
}
.iflw
{
float:left;

padding:10px 0px;
font-size:12px;
margin:auto;
margin-right:5px;
/*
moz-border-radius:5px;
border-radius:5px;
webkit-border-radius:5px;*/
background:url(bg2.jpg) top left repeat-x;
border:1px solid #fff;
width:60px;
overflow:hidden;

}
.wday
{

font-size:20px;

}

.hours,.days
,.minutes,.seconds
{
font-size:20px;

}
.cal_section
{
width:360px;
margin:10px auto;


overflow:hidden;
text-align:center;

color:white;
}

.time_top
{

font-size:20px;
color:black;
}
.time_bottom
{

font-size:20px;
color:black!important;
}
/* CSS Document */

