<?php echo $header; ?>

      <div class="breadcrumbs animated fadeIn">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
      </div>

      <h2 class="product-title animated fadeIn"><?php echo $heading_title; ?></h2>
  <h1><?php echo $heading_title; ?></h1>
  <p><?php echo $text_description; ?></p>
  <p><?php echo $text_code; ?><br />
    <textarea cols="40" rows="5"><?php echo $code; ?></textarea>
  </p>
  <p><?php echo $text_generator; ?><br />
    <input type="text" name="product" value="" />
  </p>
  <p><?php echo $text_link; ?><br />
    <textarea name="link" cols="40" rows="5"></textarea>
  </p>
  <div class="buttons">
    <div class="right"><a href="<?php echo $continue; ?>" class="btn light-blue darken-1"><span><?php echo $button_continue; ?></span></a></div>
  </div>
  <?php //echo $content_bottom; ?></div>
<script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
   delay: 0,
   source: function(request, response) {
      $.ajax({
         url: 'index.php?route=affiliate/tracking/autocomplete&filter_name=' +  encodeURIComponent(request.term),
         dataType: 'json',
         success: function(json) {      
            response($.map(json, function(item) {
               return {
                  label: item.name,
                  value: item.link
               }
            }));
         }
      });
   },
   select: function(event, ui) {
      $('input[name=\'product\']').attr('value', ui.item.label);
      $('textarea[name=\'link\']').attr('value', ui.item.value);
                  
      return false;
   },
   focus: function(event, ui) {
      return false;
   }
});
//--></script> 
<?php echo $footer; ?>