<p>
	<span style="font-size:16px;"><strong>สามารถเช็คได้จากกล่องด้านซ้าย</strong> สามารถใช้ได้โดย<strong>ไม่</strong>ต้อง Login เข้าสู่ระบบ</span></p>
<p>
	<span style="font-size:16px;"><span style="color:#ff0000;"><strong>ทำให้สามารถเช็คได้ทั้งลูกค้าที่สมัครสมาชิกและไม่สมัครสมาชิก</strong></span></span></p>
<p>
	&nbsp;</p>
<p>
	<span style="font-size:16px;">กรอกรหัสคำสั่งซื้อ และอีเมลที่ท่านใส่ตอนสั่งซื้อสินค้า แล้วระบบจะแสดงสถานะการจัดส่งและ <strong>หมายเลขพัสดุ EMS</strong> ให้ท่านทราบหากสินค้าจัดส่งออกไปแล้ว </span></p>
<p>
	<span style="font-size: 16px;">โดยท่านสามารถนำ หมายเลขพัสดุ EMS ไปเช็คสถานะการจัดส่งของไปรษณีย์ได้ที่</span></p>
<p>
	<span style="font-size:16px;"><span class="c3 c12"><a class="c13" href="http://track.thailandpost.co.th/trackinternet/Default.aspx">http://track.thailandpost.co.th/trackinternet/Default.aspx</a></span></span></p>
<p>
	&nbsp;</p>
