/*
 * Accordion Menu v2.1
 * for OpenCart 1.5.1 - 1.5.4.1
 *
 * Copyright 2013, iDiY
 * Support: idiy.webmaster@gmail.com
 *
 */
 
#accordion-menu,#accordion-menu li ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#accordion-menu li {
	position: relative;
}

#accordion-menu li ul {
	display: none;
}

#accordion-menu li.active > ul {
	display: block;
}

#accordion-menu li.image {
	text-align: center;
}

#accordion-menu li.image img {
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}


/* Clean Menu Style */

ul.clean-menu li {
	margin: 0;
	padding: 0;
}

ul.clean-menu > li + li {
	border-top: 1px solid #EEEEEE;
}

ul.clean-menu li a {
	display: block;
	padding: .625em .625em .625em 0;
	outline: none;
	color: #333;
	text-decoration: none;

	-webkit-transition: background-color .2s ease, color .2s ease;
	-moz-transition: background-color .2s ease, color .2s ease;
	-ms-transition: background-color .2s ease, color .2s ease;
	-o-transition: background-color .2s ease, color .2s ease;
	transition: background-color .2s ease, color .2s ease;
}

ul.clean-menu li.image a {
	padding: 0 1px;
}

ul.clean-menu > li a:hover {
	color: #38B0E3;
}

ul.clean-menu a.active {
	font-weight: bold;
}

ul.clean-menu li a.am-nav-btn,ul.clean-menu li a.am-nav-link {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: .625em;
}

ul.clean-menu li a span {
	position: relative;
	display: block;
	padding-left: 1.875em;
}

ul.clean-menu li a.am-nav-btn span,ul.clean-menu li a.am-nav-link span {
	display: inline;
	padding-left: 1.1em;
}

ul.clean-menu li a span:before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1.25em;
	height: 1.25em;
	background-color: transparent;
	background-image: url('image/icon.png');
	background-position: 4px 0;
	background-repeat: no-repeat;
	content: "";
}

ul.clean-menu li a.am-nav-btn span:before {
	background-image: url('image/btn.png');
	background-position: -9px -8px;
}

ul.clean-menu li a.am-nav-btn.open span:before {
	background-position: -39px -8px;
}

ul.clean-menu li a.am-nav-link span:before {
	background-color: transparent;
	background-image: url('image/link.png');
	background-position: -8px -7px;
	background-repeat: no-repeat;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

ul.clean-menu li a:hover + a.am-nav-link span:before,ul.clean-menu li a.am-nav-link:hover span:before {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

ul.clean-menu > li ul > li {
	padding-left: 1.25em;
}

ul.clean-menu li ul li a {
	padding: 0 .625em .625em 0;
	color: #38B0E3;
}

ul.clean-menu li ul li a.am-nav-btn,ul.clean-menu li ul li a.am-nav-link {
	padding: 0 .625em;
}

ul.clean-menu li ul li a:hover {
	color: #333;
}


/* Elegant Menu Style */

ul.elegant-menu li {
	margin: 0 0 1px 0;
	background-color: rgba(0, 0, 0, 0.027);
}

ul.elegant-menu li.image,ul.elegant-menu li.image + li {
	border: none;
}

ul.elegant-menu li a {
	display: block;
	margin: 0;
	padding: .625em 1.25em;
	outline: none;
	color: #333;
	text-decoration: none;

	-webkit-transition: background-color .2s ease, color .2s ease;
	-moz-transition: background-color .2s ease, color .2s ease;
	-ms-transition: background-color .2s ease, color .2s ease;
	-o-transition: background-color .2s ease, color .2s ease;
	transition: background-color .2s ease, color .2s ease;
}

ul.elegant-menu li.image a {
	padding: 0 1px;
}

ul.elegant-menu li.active > a:first-child {
	background-color: rgba(0, 0, 0, 0.04);
	font-weight: bold;
}

ul.elegant-menu > li:hover > a.category-btn,ul.elegant-menu > li:hover > a.category-link {
	background-color: #585858;
	color: #FFF;
}

ul.elegant-menu li a span {
	position: relative;
	display: block;
	padding-left: 1.875em;
}

ul.elegant-menu li a span:before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1.25em;
	height: 1.25em;
	background-color: transparent;
	background-image: url('image/icon.png');
	background-position: 4px 0;
	background-repeat: no-repeat;
	content: "";
}

ul.elegant-menu > li:hover > a span:before,ul.elegant-menu > li > a:hover span:before {
	background-position: 4px -24px;
}

ul.elegant-menu li ul li {
	margin: 0;
	border-top: 1px solid #FFF;
	background-color: transparent;
}

ul.elegant-menu li ul li a:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

ul.elegant-menu li ul li a {
	padding: .625em 1.25em .625em 2.5em;
}

ul.elegant-menu li ul li ul li a {
	padding: .625em 1.25em .625em 3.75em;
}

ul.elegant-menu li ul li ul li ul li a {
	padding: .625em 1.25em .625em 5em;
}

ul.elegant-menu li ul li ul li ul li ul li a {
	padding: .625em 1.25em .625em 6.25em;
}

ul.elegant-menu li a.am-nav-btn,ul.elegant-menu li a.am-nav-link {
	position: absolute;
	top: 0;
	right: 0;
	padding: .625em;
}

ul.elegant-menu li a.am-nav-btn span,ul.elegant-menu li a.am-nav-link span {
	display: inline;
	padding-left: 1.1em;
}

ul.elegant-menu li a.am-nav-btn span:before {
	background-image: url('image/btn.png');
	background-position: -9px -9px;
}

ul.elegant-menu > li:hover > a.am-nav-btn span:before {
	background-position: -9px -39px;
}

ul.elegant-menu li a.am-nav-btn.open span:before {
	background-position: -39px -9px;
}

ul.elegant-menu > li:hover > a.am-nav-btn.open span:before {
	background-position: -39px -39px;
}

ul.elegant-menu > li > a:hover + a.am-nav-btn,ul.elegant-menu > li > a.am-nav-btn:hover,ul.elegant-menu > li > a:hover + a.am-nav-link,ul.elegant-menu > li > a.am-nav-link:hover {
	background-color: rgba(255, 255, 255, 0.065);
}

ul.elegant-menu li a.am-nav-link span:before {
	background-color: transparent;
	background-image: url('image/link.png');
	background-position: -8px -8px;
	background-repeat: no-repeat;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

ul.elegant-menu li a:hover + a.am-nav-link span:before,ul.elegant-menu li a.am-nav-link:hover span:before {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

ul.elegant-menu > li:hover > a + a.am-nav-link span:before {
	background-position: -8px -38px;
}


/* Demo Icons */


ul.elegant-menu li.category-64 > a .am-cat-icon:before {
	background-position: -96px -144px;
}
ul.elegant-menu li.category-211 > a .am-cat-icon:before {
	background-position: -120px -48px;
}
ul.elegant-menu li.category-160 > a .am-cat-icon:before {
	background-position: -312px -24px;
}
ul.elegant-menu li.category-95 > a .am-cat-icon:before {
	background-position: -336px -120px;
}
ul.elegant-menu li.category-20 > a .am-cat-icon:before {
	background-position: -120px 0px;
}
ul.elegant-menu li.category-209 > a .am-cat-icon:before {
	background-position: 0px -144px;
}
ul.elegant-menu li.category-99 > a .am-cat-icon:before {
	background-position: -48px -47px;
}
ul.elegant-menu li.category-154 > a .am-cat-icon:before {
	background-position: -240px -120px;
}



