div#info-popup-bg {
	position: 				fixed;
	width:					100%;
	height:					100%;
	background-color:		white;
	-khtml-opacity: 		0.9;
	-webkit-opacity:		0.9;
	-moz-opacity:			0.9; 
	filter:					alpha(opacity=90);
	opacity:				0.9;
	z-index: 				9998;
}

div#info-popup {
	background: 			none repeat scroll 0 0 #FFFFFF;
    border: 				5px solid #E9E9E9;
    box-shadow: 			0 0 24px #8B8B8B;
	-moz-box-shadow: 		0 0 24px #8B8B8B;
	-webkit-box-shadow: 	0 0 24px #8B8B8B;
    font-size: 				15px;
	top:					100px;
    padding: 				15px;
    position: 				fixed;
	_position:				absolute; /* hack for internet explorer 6 */ 
	left:					50%;
	margin-left: 			-300px; 
    width: 					600px;
	height: 				auto;
    z-index: 				9999;
	display: 				none;
}

div#info-popup div.selector {
	margin-bottom:			10px;
}

div#info-popup div.selector div.choose {
	display:				inline-block;
	margin-right:			15px;
}

div#info-popup div.selector div.choose label {
	display:				block;
	margin-bottom:			2px;
	padding-bottom:			0;
	color: 					#236491;
    font-family: 			Arial, Helvetica, sans-serif;
    font-size: 				21px;
}

div#info-popup div.selector div.choose select {
	font-size: 				14px;
	min-width:				100px;
	max-width:				200px;
}

div#info-popup div.buttons {
	margin-bottom:			0;
	border:					0;
	text-align:				center;
}

div#info-popup div.buttons input {
	position:				relative;
	color:  				white !important;
	font-size: 				14px;
	font-weight: 			bold;
	display: 				inline-block;
	outline: 				none;
	cursor: 				pointer;
	text-align: 			center;
	padding:				10px;
	min-width:				100px;
	border: 				0;
	-webkit-border-radius:  5px; 
	-moz-border-radius:     5px;
	border-radius: 		    5px;
	-moz-box-shadow: 		0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 	0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 			0 -1px 1px rgba(0,0,0,0.25);
}

div#info-popup div.buttons input#info-popup-accept {
	background-color: 		#0abc0a;
	background: 			-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0abc0a), to(#009900));
	background: 			-webkit-linear-gradient(top, #0abc0a, #009900);
	background: 			-moz-linear-gradient(top, #0abc0a, #009900);
	background: 			-ms-linear-gradient(top, #0abc0a, #009900);
	background: 			-o-linear-gradient(top, #0abc0a, #009900);
	margin-right:			10px;
}

div#info-popup div.buttons input#info-popup-ok {
	background-color: 		#235b99;
	background: 			-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b76ca), to(#235b99));
	background: 			-webkit-linear-gradient(top, #2b76ca, #235b99);
	background: 			-moz-linear-gradient(top, #2b76ca, #235b99);
	background: 			-ms-linear-gradient(top, #02b76ca, #235b99);
	background: 			-o-linear-gradient(top, #2b76ca, #235b99);
}

div#info-popup div.buttons input#info-popup-decline {
	background-color: 		#cc0000;
	background: 			-webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc0000), to(#990000));
	background: 			-webkit-linear-gradient(top, #cc0000, #990000);
	background: 			-moz-linear-gradient(top, #cc0000, #990000);
	background: 			-ms-linear-gradient(top, #cc0000, #990000);
	background: 			-o-linear-gradient(top, #cc0000, #990000);
}

div#info-popup div.buttons input#info-popup-ok:active,
div#info-popup div.buttons input#info-popup-accept:active,
div#info-popup div.buttons input#info-popup-decline:active {
	top:					1px;
	left:					1px;
}