<?php if ($messages) { ?>
<?php foreach ($messages as $message) { ?>
<div class="shout_list">
  <div class="author"><img src="catalog/view/javascript/news/chat.png" />&nbsp;<b><?php echo $message['author']; ?></b> <?php echo $text_said;?><br> </div>
  <div class="text"><?php echo $message['message']; ?></div>
  <div align="right" style="font-size:11px;"><?php echo $message['date_added']; ?></div>
</div>
<?php } ?>
<?php } else { ?>
<div class="content"><?php echo $text_no_messages; ?></div>
<?php } ?>