/* Google Sitmaps Stylesheets (GSStylesheets) CSS
   License http://www.gnu.org/copyleft/lesser.html GNU/LGPL */

h1 { 
	font-weight:bold;
	font-size:1.5em;
	margin-bottom:0;
	margin-top:1px; }

h2 { 
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:0; 
	color:#707070;
	margin-top:1px; }

#gssTitle {	
  line-height: 70px;
  text-indent: 70px; }

p.sml { 
	font-size:0.8em;
	margin-top:0; }

.sortup {
	background-position: right center;
	background-repeat: no-repeat;
	font-style:italic;
	white-space:pre; }
	
.sortdown {
	background-position: right center;
	background-repeat: no-repeat;
	font-style:italic;
	white-space:pre; }

table.copyright {
	width:100%;
	border-top:1px solid #ddad08;
	margin-top:1em;
	text-align:center;
	padding-top:1em;
	vertical-align:top; }
