.sbox .success, .warning, .attention, .information {
	padding: 5px 5px 5px 33px;
	margin-bottom: 5px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.sbox .shout_content>span{display:block; margin: 5px 0;}
.sbox p{ text-align:center; margin:2px;width:120px;}
#view_message{margin:0px; border:1px solid #ccc;
background:#fff; overflow:hidden;}
#column-left .shout_list .text,#column-right .shout_list .text{max-width:160px;}
.shout_list{padding:5px; border-bottom:1px solid #CCC; font-size:11px;}
.shout_list .author { color:#4a4a4a;}
.shout_list .author span.right{ font-size:11px; float:right;}
.shout_list .author span{ font-size:11px; float:right; color:#4a4a4a}
.shout_list .author b{color:#1d272c}
.shout_list .text{color:#252525;}