<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<title>Banner <?=$banner_id?></title>
    <!--<script>
        <? //require_once DIR_SYSTEM.'bannerassets/jquery.min.js'; ?>
    </script>-->  
</head>
<body >
    <div id="Widget-<?=$banner_id?>"></div><script src="<?=$banner_prew_link?>" type="text/javascript"></script>
</body>
</html>

