<center><b><h2 style="
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
"><font color='red'>สำคัญ!! โปรดตรวจสอบที่อยู่ให้ถูกต้อง** ข้อมูลส่วนนี้ใช้ในการพิมพ์ชื่อ-ที่อยู่ลงบนหน้ากล่องพัสดุ  </font></h2></b>
** ที่อยู่ที่ถูกต้อง ควรมี หมู่ ซอย ถนน อย่างใดอย่างหนึ่ง เพื่อง่ายต่อการจัดส่งของไปรษณีย์</b>
<b><h3 style="
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
"><font color='red'><li>สำหรับสมาชิกต้องการแก้ไขที่อยู่ <a href='http://shop.se-update.com/index.php?route=checkout/checkout'> คลิ๊กที่นี่
</a></li>
<li>ไม่ได้เป็นสมาชิกต้องการแก้ไขที่อยู่ <a href='http://shop.se-update.com/index.php?route=account/address'> คลิ๊กที่นี่
</a></li></font></h3></b></ br>
<b><h1 style="
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
"><font color='Green'>หากข้อมูลถูกต้องแล้ว ให้ทำการกดปุ่ม "ยืนยันคำสั่งซื้อ" ด้านล่างหน้านี้  </font></h1></b>
</center> 
<div class="payment"><?php echo $payment; ?></div>