<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($payment_methods) { ?>
<table class="form">
  <?php foreach ($payment_methods as $payment_method) { ?>
  <tr>
    <td style="width: 50px;"><?php if ($payment_method['code'] == $code || !$code) { ?>
      <?php $code = $payment_method['code']; ?>


<?php if ($payment_method['code']=="bank_scb") { ?>
<tr><td COLSPAN="2">
<p><h3>1. โอนเงินผ่าน ATM / โอนผ่าน Internet Banking / เคาน์เตอร์ธนาคาร</h3></p>
</td></tr>
   <tr><td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td>
        
   <?php } elseif ($payment_method['code']=="cod") { ?>
<tr><td COLSPAN="2">
<p><h3>1. จ่ายเงินสดตอนรับสินค้า</h3></p>
</td></tr>
   <tr><td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td>     

   <?php } elseif ($payment_method['code']=="paysbuy") { ?>
<tr><td COLSPAN="2">
<p><h3>2. ชำระผ่านบัตรเครดิต, เคาน์เตอร์รับจ่ายเงินสด </h3><img src="http://shop.se-update.com/catalog/view/theme/cl_default/image/payment-paysbuy.jpg"></p>
</td></tr>
  <td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td> 
            
 <?php } elseif ($payment_method['code']=="pp_standard") { ?>
<tr><td COLSPAN="2">
<p><h3>3. ชำระผ่าน Paypal</h3></p>
</td></tr>
 <tr>  <td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /> <label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td> 

         
   <?php } else { ?>
    <tr>  <td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td> 
     
          <?php } ?></td>
      
      
      
      
      <?php } else { ?>

<?php if ($payment_method['code']=="bank_scb") { ?>

<tr><td COLSPAN="2">
<p><h3>1. โอนเงินผ่าน ATM / โอนผ่าน Internet Banking / เคาน์เตอร์ธนาคาร</h3></p>
</td></tr>
  <tr><td style="width: 50px;"><input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td> 
         

 <?php } elseif ($payment_method['code']=="cod") { ?>
<tr><td COLSPAN="2">
<p><h3>1. จ่ายเงินสดตอนรับสินค้า</h3></p>
</td></tr>
   <tr><td style="width: 50px;"> <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td>     


   <?php } elseif ($payment_method['code']=="paysbuy") { ?>
<tr><td COLSPAN="2">
<p><h3>2. ชำระผ่านบัตรเครดิต, เคาน์เตอร์รับจ่ายเงินสด </h3><img src="http://shop.se-update.com/catalog/view/theme/cl_default/image/payment-paysbuy.jpg"></p>
</td></tr>
  <tr><td style="width: 50px;"><input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td>
         
 <?php } elseif ($payment_method['code']=="pp_standard") { ?>
<tr><td COLSPAN="2">
<p><h3>3. ชำระผ่าน Paypal</h3></p>
</td></tr>
  <tr><td style="width: 50px;"><input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" /><label for="<?php echo $payment_method['code']; ?>">&nbsp;</label></td>
         
   <?php } else { ?>
     <tr><td style="width: 50px;">   <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" /><label for="<?php echo $payment_method['code']; ?>"></label></td>
          <?php } ?></td>

      
      <?php } ?></td>


     <td><label for="<?php echo $payment_method['code']; ?>"><?php echo $payment_method['title']; ?></label></td> </tr>

  </tr>
  <?php } ?>
</table>
<?php } ?>

<div id="payment-method" class="page-block" style="margin-top: 30px;">
      <div class="block-title"><span><?php echo $text_checkout_comment; ?></span></div>
      <div class="onecheckout-content">

<p ><?php echo $text_comments; ?></p>
<textarea name="comment" rows="8" style="width: 90%;"><?php echo $comment; ?></textarea>
      </div>
      </div>
<script type="text/javascript"><!--
$(document).on('blur', '#payment-method textarea[name=\'comment\']', function(){
	jQuery.post('index.php?route=onecheckout/payment/savecomment',$('#payment-method textarea[name=\'comment\']'));
});
//--></script> 