<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($shipping_methods) { ?>

<ol class="payment-method">
    <?php if (!$shipping_method['error']) { ?>
                      <?php foreach ($shipping_methods as $shipping_method) { ?>
  <?php if (!$shipping_method['error']) { ?>
  <li>
  <?php foreach ($shipping_method['quote'] as $quote) { ?>
  
  <?php if ($quote['code'] == "ka_smethods_4.ka_smethods_4") { $quote['text'] = "ค่าส่งตามระยะทาง";$quote['title'] = "จัดส่งด่วน Delivery <a href='http://shop.se-update.com/Delivery-Agreement' target='_blank'>(เงื่อนไขข้อตกลง)</a>"; } ?>
  
    <?php if ($quote['code'] == $code || !$code) { ?>
      <?php $code = $quote['code']; ?>
      <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" id="<?php echo $quote['code']; ?>" checked="checked" />
      <label for="<?php echo $quote['code']; ?>"><?php echo $quote['title']; ?> <?php echo $quote['text']; ?></label>
      <?php } else { ?>
      <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" id="<?php echo $quote['code']; ?>" />
       <label for="<?php echo $quote['code']; ?>"><?php echo $quote['title']; ?> <?php echo $quote['text']; ?></label>
      <?php } ?>
    
  <?php } ?>
  <?php } else { ?>
      <div class="error"><?php echo $shipping_method['error']; ?></div>
  <?php } ?>
  </li>
  <?php } ?>
     <ol>
<?php } ?>

</br>
<span class="highlight" style="font-size: 12px;">หมายเหตุ : กรณีรับสินค้าที่หน้าร้าน กรุณาทำรายการก่อน 19.00 น. และสามารถรับสินค้าได้ในวันถัดไป หลังเวลา 14.00 น.</span>
<div id="insurancefee"></div>



<?php } ?>

