/*-- jShowOff module styles --*/
#features, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
	width: auto;
	height: auto;
	padding:0px;
	border:1px solid #000;
	}
.jshowoff {
	width: auto;
	margin: 0px 0px 12px 0px;
	overflow: hidden;
	}
.jshowoff div {	
	width: auto;
	height: auto;
	background: #044c83 url(images/deepblue.png) bottom repeat-x;
	overflow: hidden;
	}
.jshowoff div, .jshowoff img, .jshowoff {
	}
	.jshowoff img {
		float:left;
		margin:18px 12px 18px 18px;
		border:#022e4f solid 4px;
	}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff div p, .jshowoff div h2 {
	_background-color: #efefef;
	}
.jshowoff h2 {
	font-size: 18px;
	padding: 18px 0px 8px 0px;
	margin: 0;
	}
	.jshowoff h2 a {
		font-size:20px;
		text-decoration:none;
		color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
	}
.jshowoff p {
	font-size: 13px;
	line-height: 15px;
	color:#CCC;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Verdana, sans-serif;
	padding-bottom:0px;
	margin-right:8px;
	}
.prices {
	margin-top:-10px;
	float:right;
	margin-right:28px;
}
*:first-child+html .prices {
	margin-top:-32px;
}
span.prices {
	color:#000;
	background: #FC0;
	font-size:24px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 10px;
	border:1px solid #CCC;
}
.prices-old {
	margin-top:-10px;
	float:right;
}
*:first-child+html .prices-old {
	margin-top:-32px;
}
span.prices-old {
	color:#F00;
	text-decoration:line-through blink;
	background: #FC0;
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 6px;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}
.prices-new {
	margin-top:-10px;
	float:right;
	margin-right:28px;
}
*:first-child+html .prices-new {
	margin-top:-32px;
}
span.prices-new {
	color:#000;
	background: #FC0;
	font-size:24px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding:4px 6px;
	border-right:1px solid #333;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	text-decoration:blink;
}
a.buttons-cart {
	padding:6px 12px;
	background: #000;
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
	margin-top:17px;
	border:1px #333 solid;
}
span.buttons-cart {
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
}
.ratings {
	margin:2px 0px;padding:0;
}
.ratings img {
	background:none;
	margin-left:0px;	
}
.eddie {
	float: right;
	padding: 15px 20px 15px 20px;
	}
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}
.jshowoff-slidelinks a {
	display: block;
	background: #000 url(images/gloss.png) bottom repeat-x;
	color: #FFF;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	border:1px solid #CCC;
	}
.jshowoff-controls a {
	display: block;
	background: #000 url(images/gloss.png) bottom repeat-x;
	color: #FFF;
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	border:1px solid #CCC;
	min-width:36px;
	text-align:center;	
	}	
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #900;
	}
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #000;
	}
p.jshowoff-controls {
	background: #022e4f;
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
	border-bottom:1px #000 solid;
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}

<!-- if modules postion on side column -->
#prodtitle {
	text-align:center;
	margin:4px auto;
}
a#prodtitle {
	color:#000;
	text-decoration:none;
	text-align:center;
}
.prices-side {
	margin-bottom:4px;
}
span.prices-side {
	display:block;
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.prices-old-side {
	margin-bottom:4px;
}
span.prices-old-side {
	color:#F00;
	text-decoration:line-through blink;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	margin-right:8px;
}
.prices-new-side {
	margin-bottom:4px;
}
span.prices-new-side {
	color:#000;
	font-size:12px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:blink;
}